<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>

        <script src="__PUBLIC__/Console/js/validation/lib/jquery.js"></script>
        <script src="__PUBLIC__/Console/js/validation/dist/jquery.validate.js"></script>
        <script src="__PUBLIC__/Console/js/validation/dist/localization/messages_zh.js"></script> 
		<script type="text/javascript">
			$(function(){	
				$.validator.setDefaults({
					submitHandler:function(from) {
						from.submit();
					}
				});

				$("#form1").validate({
					rules:{
						gh_id:'required',
						name:'required',
						bumen:'required',
						count_month:'required',
						hours_bz:'required',
						hours_sj:'required',
						turn:'required'
					},
					messages:{				
						gh_id:'请输入工号',
						name:'请输入姓名',
						bumen:'请输入部门名称',
						count_month:'请选择统计月份',
						hours_bz:'请输入标准工作时数',
						hours_sj:'请输入实际工作时数',
						turn:'请输入出勤天数'
					},
					errorClass:'cerror',
					
				});
				
			});

		</script>
        <body>
            <div class="place">
                <span>位置：</span>
                <ul class="placeul">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">考勤列表</a></li>
                </ul>
            </div>

            <div class="formbody">
                <div id="usual1" class="usual"> 
                    <form name="form1" id="form1" method='post' action="__URL__/add">
                        <div class="itab">
                            <ul> 
                                <li><a href="#tab1" class="selected">添加考勤数据</a></li> 
                            </ul>
                        </div> 

                        <div id="tab1" class="tabson">
                            <div class="formtext">请正确填写信息！</div>
                            <ul class="forminfo">
                                <li><label>工号<b>*</b></label><input name="gh_id" id="accounts" type="text" class="dfinput" value=""  /></li>
                                <li><label>姓名<b>*</b></label><input name="name" id="username" type="text" class="dfinput" value=""  /></li>
                                <li><label>所属部门<b>*</b></label><input name="bumen" id="bumen" type="text" class="dfinput" value=""  /></li>
                                <li>
									<label>统计年份<b>*</b></label>
									<input name="count_year" type="text" class="dfinput" value="{$cur_year}"  />
								</li>
								<li>
									<label>统计月份<b>*</b></label>
									<div class="vocation uew-select">
										<select name="count_month" class="uew-select-value"> 
											<option value="0">请选择月份</option>
											<option value="1">1月</option>
											<option value="2">2月</option>
											<option value="3">3月</option>
											<option value="4">4月</option>
											<option value="5">5月</option>
											<option value="6">6月</option>
											<option value="7">7月</option>
											<option value="8">8月</option>
											<option value="9">9月</option>
											<option value="10">10月</option>
											<option value="11">11月</option>
											<option value="12">12月</option>
										</select>
									</div>
								</li>
                                <li><label>工作时数(标准)<b>*</b></label><input name="hours_bz" style="width: 50px" id="hours_bz" type="text" class="dfinput" value="00"  />小时<input name="hours_bz1" style="width: 50px" id="hours_bz1" type="text" class="dfinput" value="00"  />分钟</li>  
                                <li><label>工作时数(实际)<b>*</b></label><input name="hours_sj" style="width: 50px" id="hours_sj" type="text" class="dfinput" value="00"  />小时<input name="hours_sj1" style="width: 50px" id="hours_sj1" type="text" class="dfinput" value="00"  />分钟</li>  
                                <li><label>迟到(次数)</label><input name="late_tm" id="late_tm" type="text" class="dfinput" value=""  /></li>
                                <li><label>迟到(分钟)</label><input name="late_mi" id="late_mi" type="text" class="dfinput" value=""  /></li>
                                <li><label>早退(次数)<b></b></label><input name="leave_tm" id="leave_tm" type="text" class="dfinput" value=""  /></li>
                                <li><label>早退(分钟)<b></b></label><input name="leave_mi" id="leave_mi" type="text" class="dfinput" value=""  /></li>
                                <li><label>加班(特殊)<b></b></label><input name="overtime_ts" style="width: 50px" id="overtime_ts" type="text" class="dfinput" value="00"  />小时<input name="overtime_ts1" style="width: 50px" id="overtime_ts1" type="text" class="dfinput" value="00"  />分钟</li>    
                                <li><label>加班(正常)<b></b></label><input name="overtime_zc" style="width: 50px" id="overtime_zc" type="text" class="dfinput" value="00"  />小时<input name="overtime_zc1" style="width: 50px" id="overtime_zc1" type="text" class="dfinput" value="00"  />分钟</li>    
                                <li><label>出勤天数(标准/实际)<b>*</b></label><input name="turn" id="turn" type="text" class="dfinput" value=""  /></li>                               
                                <li><label>出差(天)<b></b></label><input name="evection" id="evection" type="text" class="dfinput" value=""  /></li>
                                <li><label>旷工(天)<b></b></label><input name="truant" id="truant" type="text" class="dfinput" value=""  /></li>
                                <li><label>请假(天)<b></b></label><input name="leave" id="leave" type="text" class="dfinput" value=""  /></li>                     
                                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保&nbsp;&nbsp;存"/></li>
                            </ul>
                        </div>
                    </form>
                </div> 
            </div>
        </body>

</html>

