<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>

        <script src="__PUBLIC__/Console/js/validation/lib/jquery.js"></script>
        <script src="__PUBLIC__/Console/js/validation/dist/jquery.validate.js"></script>
        <script src="__PUBLIC__/Console/js/validation/dist/localization/messages_zh.js"></script> 

        <body>
            <div class="place">
                <span>位置：</span>
                <ul class="placeul">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">考勤列表</a></li>
                </ul>
            </div>

            <div class="formbody">
                <div id="usual1" class="usual"> 
                    <form name="form1" id="form1" method='post' action="__URL__/edit">
                        <div class="itab">
                            <ul> 
                                <li><a href="#tab1" class="selected">考勤校对</a></li> 
                            </ul>
                        </div> 

                        <div id="tab1" class="tabson">
                            <div class="formtext">请正确填写信息！</div>
                            <ul class="forminfo">
                                <if condition="$info.id gt 0">                                   
                                    <input type="hidden" name="id" value="{$info.id}"/>
                                </if>                                
                                <li><label>工号<b>*</b></label><input name="gh_id" id="accounts" type="text" class="dfinput" value="{$info.gh_id}"  /></li>
                                <li><label>姓名<b>*</b></label><input name="name" id="username" type="text" class="dfinput" value="{$info.name}"  /></li>
                                <li><label>所属部门<b>*</b></label><input name="bumen" id="accounts" type="text" class="dfinput" value="{$info.bumen}"  /></li>
                                <li><label>工作时数(标准)<b>*</b></label><input name="hours_bz" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['hours_bz']|timearray='h',###}"  />小时<input name="hours_bz1" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['hours_bz']|timearray='s',###}"  />分钟</li>  
                                <li><label>工作时数(实际)<b>*</b></label><input name="hours_sj" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['hours_sj']|timearray='h',###}"  />小时<input name="hours_sj1" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['hours_sj']|timearray='s',###}"  />分钟</li>  
                                <li><label>迟到(次数)<b></b></label><input name="late_tm" id="username" type="text" class="dfinput" value="{$info.late_tm}"  /></li>
                                <li><label>迟到(分钟)<b></b></label><input name="late_mi" id="accounts" type="text" class="dfinput" value="{$info.late_mi}"  /></li>
                                <li><label>早退(次数)<b></b></label><input name="leave_tm" id="accounts" type="text" class="dfinput" value="{$info.leave_tm}"  /></li>
                                <li><label>早退(分钟)<b></b></label><input name="leave_mi" id="username" type="text" class="dfinput" value="{$info.leave_mi}"  /></li>
                                <li><label>工作时数(标准)<b>*</b></label><input name="overtime_ts" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['overtime_ts']|timearray='h',###}"  />小时<input name="overtime_ts1" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['overtime_ts']|timearray='s',###}"  />分钟</li>  
                                <li><label>工作时数(实际)<b>*</b></label><input name="overtime_zc" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['overtime_zc']|timearray='h',###}"  />小时<input name="overtime_zc1" style="width: 50px" id="username" type="text" class="dfinput" value="{$info['overtime_zc']|timearray='s',###}"  />分钟</li>  
                                <li><label>出勤天数(标准/实际)<b>*</b></label><input name="turn" id="accounts" type="text" class="dfinput" value="{$info.turn}"  /></li>
                                <li><label>出差(天)<b>*</b></label><input name="evection" id="username" type="text" class="dfinput" value="{$info.evection}"  /></li>    
                                <li><label>旷工(天)<b>*</b></label><input name="truant" id="accounts" type="text" class="dfinput" value="{$info.truant}"  /></li>
                                <li><label>请假(天)<b>*</b></label><input name="leave" id="username" type="text" class="dfinput" value="{$info.leave}"  /></li>
                                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保&nbsp;&nbsp;存"/></li>
                            </ul>
                    </div>
                </form>
            </div> 
        </div>


    </body>

</html>
