<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>

        <script src="__PUBLIC__/Console/js/validation/dist/jquery.validate.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".click").click(function () {
                    $(".tip").fadeIn(200);
                });

                $(".tiptop a").click(function () {
                    $(".tip").fadeOut(200);
                });

                $(".sure").click(function () {
                    $(".tip").fadeOut(100);
                });

                $(".cancel").click(function () {
                    $(".tip").fadeOut(100);
                });

            });
        </script>

        <style>
            .inputedit{width:100%;border:none; margin: 0px;padding:0px;display: block;height: 35px; line-height: 35px;}
            .tableinputedit .tredit{padding: 0px;margin: 0px;}
        </style>
    </head>


    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">设备管理</a></li>
                <li><a href="#">设备列表</a></li>
                <li><a href="#">微信号</a></li>
            </ul>
        </div>

        <div class="rightinfo">

            <div class="tools">

                <ul class="seachform" style="float:right">
                    <form name="form1" id="form1" method='post' action="{:U('Wecate/insert')}">
                        <li><label><b style=" color:#D00;">添加微信号</b></label><input id="wechat_id" name="wechat_id" type="text" class="scinpute" value=""  style="width:220px"/></li>
         <!--            <li><label>昵称<b>*</b></label><input name="nickname" type="text" class="scinpute" value=""  /></li>
                    <li><label>姓名<b>*</b></label><input name="username" type="text" class="scinpute" value=""  /></li>
                    <li><label>性别<b>*</b></label><cite><input style="height:32px;vertical-align: middle;" type="radio" <if condition="$user.sex == 1">checked="checked"</if>  checked="checked" value="1" name="sex">男&nbsp;&nbsp;&nbsp;&nbsp;<input style="height:32px;vertical-align: middle;"  type="radio"  <if condition="$user.sex == 2">checked="checked"</if> value="2" name="sex">女</cite></li> -->
                    <li><label>&nbsp;</label><input type="submit" value="添加" class="scbtn" name=""></li>
                    </form>
                </ul>
                <!-- <ul class="toolbar">
                    <li><a href="__URL__/add"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>添加</a></li> -->
                    <!--         <li class="click"><span><img src="__PUBLIC__/Console/images/t02.png" /></span>修改</li>
                            <li><span><img src="__PUBLIC__/Console/images/t03.png" /></span>删除</li>
                             <li><span><img src="__PUBLIC__/Console/images/t04.png" /></span>统计</li> -->


              <!--   </ul> -->
                <ul class="toolbar1">
                    <!-- <li><span><img src="__PUBLIC__/Console/images/t05.png" /></span>设置</li> -->
                </ul>
                <ul class="seachform">
                    <form action="/index.php/Console/Wecate/Wecate" method="post" id="form2" name="form2">            
                        <li><label>搜索</label><input type="text" class="scinpute" name="username" value="" style="width:180px"></li>
                        <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
                    </form>
                </ul>
            </div>
            <table class="tablelist" id="tableinputedit">
                <thead>
                    <tr>
<!--                        <th><input name="" type="checkbox" value="" checked="checked"/></th>-->
                        <th>ID</th>
                        <th>微信号</th>
                        <th>名称</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>创建时间</th>
                        <th>备用</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">         
                        <tr>
<!--                            <td><input name="" type="checkbox" value="" /></td>-->
                            <td>{$i}</td>
                            <td><a href="{:U('Wecate/lookfind',array('id'=>$vo['id']))}">{$vo.wechat_id}</a></td>
                            <td class="tredit"><input class="inputedit" f="username" v= "{$vo.id}"  type="text" value="{$vo.username}" /></td>
                            <td class="tredit"><input class="inputedit" f="nickname" v= "{$vo.id}" type="text" value="{$vo.nickname}" /></td>                            
                            <td>
                                <select class="inputedit"  name="sex" f="sex" v= "{$vo.id}" >
                                    <option value="1" <if condition="$vo.sex eq 1">selected="selected"</if>>男</option>
                                    <option value="2" <if condition="$vo.sex eq 2">selected="selected"</if>>女</option>
                                </select>
                            </td>
                            <td>{$vo.create_time|date="Y-m-d",###}</td>               
                            <td class="tredit"><input class="inputedit" f="backup" v= "{$vo.id}" type="text" value="{$vo.backup}" /></td>
                            <td><a href="__URL__/edit/id/{$vo.id}" class="tablelink">修改</a><a href="__URL__/wecate_delete/id/{$vo.id}" class="tablelink"> 删除</a></td>
                        </tr> 
                    </volist>

                </tbody>
            </table>
            
　　         {$page}
                

        </div>
       
        <script src="__PUBLIC__/Console/js/layer/layer.js" script="text/javascript"></script>        

        <script type="text/javascript">
            $(".inputedit").change(function(){
                var el=$(this);
                var id=$(this).attr('v');
                var msg="是否确认对信息的修改 ？</br> 如果是请点击保存按钮 ，否则请点取消。";
                if(id=="unfund"){
                msg="请刷新该页面? </br> 刷新页面后重新修改。";
                }
                layer.confirm(msg, {
                  btn: ['保存','取消'] //按钮
                }, function(){
                    ajaxfeild(el);
                  layer.closeAll();
                }, function(){

                });    
            });
            function ajaxfeild(el){
                var id=el.attr('v');
                var value=el.val();
                var field=el.attr('f');            
                $.post("{:U('Wecate/editfield')}",{id:id,f:field,v:value},function(data){
                    console.log(data);  
                });
            }
       
            $('.tablelist tbody tr:odd').addClass('odd');
            $(function(){
                $('#form1').validate({
                    submitHandler:function(){
                        ajaxsbmit();
                    },
                    rules: {  
                        wechat_id:"required"
                    },
                    messages:{
                        wechat_id:"请填写微信号"
                    },
                    showErrors: function(errorMap, errorList) {  
                        var msg = "";  
                        $.each( errorList, function(i,v){  
                          msg += (v.message+"\r\n");  
                        });  
                        if(msg!="") alert(msg);  
                    },  
                });
            });
            function ajaxsbmit(){
                var url=$("#form1").attr('action');
                var param=$("#form1").serialize();
                $.post(url,param,function(data){
                    if(data.status=="1"){
                        alert("添加成功");
						window.location.reload();
                    }else{
                        alert(data.msg);
                    }
                })
            }
        </script>

    </body>

</html>
