<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">订单管理</a></li>
            <li><a href="#">订单列表</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="seachform">
                <form action="/index.php/Console/Shipments/ylist" method="get" id="form2" name="form2">            
                    <li><label></label><input type="text" class="scinpute" name="username" value="" placeholder="ID/订单编号/收货人/手机号码/销售客服" style="width:240px"></li>
                    <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
                </form>
            </ul>
        </div>
   
        
        <table class="imgtable">
            <thead>
                <tr>
                    <th style="width:5%;">ID</th>
                    <th style="width:10%;">订单信息</th>
                    <th style="width:10%;">产品信息</th>
                    <th style="width:5%;">收货人</th>
                    <th style="width:10%;">收货电话</th>
                    <th style="width:15%;">收货地址</th>
                    <th style="width:15%;">备注：订单（红）/发货（灰）</th>
                    <th style="width:5%;">快递公司</th>
                    <th style="width:15%;">操作发货</th>
<!--                    <th>发货备注</th>-->
                    <th style="width:10%;">操作</th>
<!--                    <th>确认收款</th>-->                    
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="vo">
                <tr style="border-bottom: dotted 1px #c7c7c7; ">
                    <td >{$vo.id}</td>
                    <td>
                        <a href="{:U('Order/look',array('id'=>$vo['id']))}" >{$vo.order_no}</a>                        
                        <p>销售客服：{$staff[$vo['agent']]}</p>
                        <p>{$vo.addtime|date='Y-m-d H:i:s',###}</p>
                    </td>                    
                    <td>
                       <php>$goods=get_orderno_to_pro($vo['order_no'])</php>
                        <volist name="goods" id="vl">                        
                            <span href=""><php>echo trim($vl['product'])</php></span>
                            <p>{$vl.grade}&nbsp;&nbsp;{$vl.buynum}X{$vl.quality}&nbsp;&nbsp;&nbsp;&nbsp;</p>                            
                        </volist>
                    </td>
                    <td>{$vo['username']}</td>
                    <td>{$vo['mobile']}</td>
                    <td>{$vo['address']}</td>
                    <td style="color:red">{$vo.note}<p>{$vo.fhnote}</p></td>
                    <td><div style="display:none" id="imgt{$vo.id}"><img src="/{$vo.mailnoimg}" /></div><a target="_blank" href="/{$vo.mailnoimg}" >{$vo.express|getexpresstext=###}快递单</a></td>
                   <td>
                    
                                    <switch name="vo.status">
                                            <case value="1">已下单 
                                                    <input type="text" style="height:23px;boder:1px;" id="suresmall3{$vo.id}" class="scinpute" name="numberno"> 
                                                    <input  name="{$vo.id}" data="{$vo.payment_status}" type="button"  class="suresmall3" value="发货" />
                                            </case>
                                            <case value="2">已发货 {$vo.numberno}<a href="{:U('Shipments/numberno',array('no'=>$vo['numberno']))}">查询物流<a/>
                                            </case>
                                    </switch>
                        <!--     <switch name="vo.payment_status">
                            <case value="0">已下单.</case>
                            <case value="1">
                            </case>
                            <default />已下单
                        </switch> -->
                    </td>
<!--                    <td>{$vo.fhnote}</td>-->
<!--                    <td>
                        <if condition="$vo.payment_status eq 0">
                            <input name="{$vo.id}" data="{$vo.payment_status}" type="button"  class="suresmall" value="点击确认" />
                            <else/>
                            <input  type="button"  class="suresmall2" value="已付款" />
                        </if>
                    </td>-->
                    <td>
                        <a href="__URL__/look/id/{$vo.id}" class="tablelink">&nbsp;查看</a>
                        <a href="javascript:void(0)" onclick="myPreview({$vo['id']})" class="tablelink">&nbsp;打印</a>  
<!--                        <if condition="$vo.status neq 2"><a href="__URL__/edit/id/{$vo.id}" class="tablelink">修改&nbsp;</a></if>-->
                        <a href="__URL__/editnote/id/{$vo.id}" class="tablelink">修改&nbsp;</a>
                    </td>         
                </tr> 
            </volist>
            
            </tbody>
        </table>  
		 {$page}
	</div> 
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
      $(".tip").fadeIn(200);
      });
  
  $(".tiptop a").click(function(){
      $(".tip").fadeOut(200);
    });

  $(".sure").click(function(){
      $(".tip").fadeOut(100);
    });

  $(".cancel").click(function(){
      $(".tip").fadeOut(100);
    });
});

$(document).ready(function(){
    $(".suresmall").click(function(){

            var id = $(this).attr('name');
            var data = $(this).attr('data');
            $("#form2").attr("action", "Payment_status/id/"+id+"/status/"+data).submit();

        });
        $(".suresmall3").click(function(event) {
            var id = $(this).attr('name');
            var data = $(this).attr('data');

    if($("#suresmall3"+id ).val()==''){
        alert("物流单号不能为空！");
        return false;
    } else{
        $("#form2").attr("action", "updatenumberno/id/"+id+"/numberno/"+$("#suresmall3"+id ).val()).submit();

    }

    });
});
 
</script>

  <!---总数---->
    <script>
        $(function () {
            $(".quanxun").click(function () {
                setTotal();
                //alert($(lens[0]).text());
            });
            function setTotal() {
                var len = $(".tot");
                var num = 0;
                for (var i = 0; i < len.length; i++) {
                    num = parseInt(num) + parseInt($(len[i]).text());

                }
                //alert(len.length);
                $("#zong{$i}").text(parseInt(num));
                $("#shuliang").text(len.length);
            }
            //setTotal();
        })
    </script>

    <script language="javascript" src="/Public/express/Lp/LodopFuncs.js"></script>
<script language="javascript" type="text/javascript"> 
        var LODOP; //声明为全局变量
  function CreateImage() {
    LODOP=getLodop();  
    LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印图片1");
    LODOP.ADD_PRINT_IMAGE(30,150,400,400,"<img border='0' src='http://s1.sinaimg.cn/middle/4fe4ba17hb5afe2caa990&690' />");
    //LODOP.ADD_PRINT_IMAGE(200,150,260,150,"C:/test.jpg"); //本地图片
  };  
  function myPreview1() {   
    CreateImage();
    LODOP.PREVIEW();    
  };  
  function myPrint1() {   
    CreateImage();
    LODOP.PRINT();    
  };  
  function myPrintSetup1() {    
    CreateImage();
    LODOP.PRINT_SETUP();    
  };    

  function myPreview2() { 
    LODOP=getLodop();   
    LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印图片2");
    LODOP.ADD_PRINT_IMAGE(30,20,600,250,"<img border='0' src='http://s1.sinaimg.cn/middle/4fe4ba17hb5afe2caa990&690'width='100%' height='250'/>");
    LODOP.SET_PRINT_STYLEA(0,"Stretch",1);//(可变形)扩展缩放模式
    LODOP.PREVIEW();
  };  
  function myPreview3() { 
    LODOP=getLodop();   
    LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印图片3");
    LODOP.ADD_PRINT_IMAGE(30,20,600,600,"<img border='0' src='http://s1.sinaimg.cn/middle/4fe4ba17hb5afe2caa990&690' />");
    LODOP.SET_PRINT_STYLEA(0,"Stretch",2);//按原图比例(不变形)缩放模式
    LODOP.PREVIEW();    
  }; 
  function myPreview(id) {
    var str =$("#imgt"+id).html();
    LODOP=getLodop();   
    LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印图片3");
    LODOP.ADD_PRINT_IMAGE(5,5,1181,1772,str);
    LODOP.SET_PRINT_STYLEA(0,"Stretch",2);//按原图比例(不变形)缩放模式
    LODOP.PREVIEW();    
  }; 
  function myPreview4() { 
    LODOP=getLodop();   
    LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印图片4");
    LODOP.ADD_PRINT_TEXT(56,56,200,20,"公章底下的文字");
    LODOP.SET_PRINT_STYLEA(0,"FontSize",13);
    LODOP.ADD_PRINT_IMAGE(28,49,171,153,"<img border='0' src='http://static15.photo.sina.com.cn/middle/4fe4ba17t993d651b55ce&690' />");
    LODOP.SET_PRINT_STYLEA(0,"TransColor","#FFFFFF");
    LODOP.ADD_PRINT_TEXT(120,53,200,20,"公章上面的文字");
    LODOP.SET_PRINT_STYLEA(0,"FontSize",15);
    LODOP.PREVIEW();
  };      
</script> 


</body>

</html>
