<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});

//密码重置
function reset_pass(id){
	if(confirm('确定要重置密码吗？')){
		$.post('__URL__/resetpass/',{id:id},function(data){
			if(data.info){
				alert(data.info);
				return false;
			}
			var data = eval('('+data+')');
			if(data.result == 1){
				alert('密码重置成功');
				window.location.href='__URL__/Staff';
			}else{
				alert(data.msg);
			}
		})
	}
	
}
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">财务管理</a></li>
    <li><a href="#">当月工薪</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
            <div class="tools">
                <ul class="toolbar">
                   <!--  <li><a href="__URL__/add"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>添加</a></li> -->
                    <!--         <li class="click"><span><img src="__PUBLIC__/Console/images/t02.png" /></span>修改</li>
                            <li><span><img src="__PUBLIC__/Console/images/t03.png" /></span>删除</li>
                            <li><span><img src="__PUBLIC__/Console/images/t04.png" /></span>统计</li> -->

                </ul>

                <ul class="seachform">
                    <form action="/index.php/Console/Staff/Staff" method="post" id="form2" name="form2">            
                        <li><label>搜索</label><input type="text" class="scinpute" name="username" value=""></li>
                        <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
                    </form>
					<!-- <ul class="toolbar" style="float:right;">
						<li><a href="#"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>导入表格</a></li>
					</ul> -->
                </ul>
				
            </div>
    </div>
    
    
    <table class="tablelist">
    	<thead>
            <tr>

<!--                <th><input name="" type="checkbox" value="" checked="checked"/></th>-->
                <th>序号</th>
                <th>员工ID</th>
                <th>姓名</th>                    
                <th>部门</th>
                <th>岗位</th>				
                <th>基本工资</th>
                <th>用餐补助</th>
                <th>住宿补助</th>
                <th>当月提成总金额</th>
                <th>提成比例</th>
                <th>效效工资</th>    
                <th>事假</th>
                <th>病假</th>                                
                <th>全勤奖</th>
                <th>奖金</th>
                <th>迟到早退处罚</th>    
                <th>应扣除工资</th>
                <th>实发工资</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr>
            <td>{$i}</td>
            <td>{$vo.id}</td>
            <td><a href="{:U('Staff/lookover',array('id'=>$vo['id']))}" >{$vo.name}</a></td>
            <td><a href="{:U('Staff/lookover',array('id'=>$vo['id']))}" >{$vo.departmenttext}</a></td>
            <td>{$vo.posttext}</td>
            <td>{$cat[$vo['section']]}</td>
            <td>{$cat[$vo['quarters']]}</td>
			<td>{$vo.salaryss}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.housing}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.catering}</td>
            <td>{$vo.catering}</td>
			<td>{$vo.catering}</td>
            <td></td>
            </volist>
        
        </tbody>
    </table>
    
   
   <div id="page" class="pagination">
　　{$page}
</div>
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__PUBLIC__/Console/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
