<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/lanrenzhijia.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Console/js/jquery.1.4.2-min.js"></script>
<script src="__PUBLIC__/Console/js/Calculation.js"></script>
</head>
<body>

    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    
    <li><a href="#">首页</a></li>
    <li><a href="#">订单管理</a></li>
    <li><a href="#">添加订单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    <div id="usual1" class="usual"> 
    <form name="form1" id="form1" method='post' action="__URL__/update">    
    <div class="itab">        
    <ul> 
    <li><a href="#tab1" class="selected">发布信息</a></li> 
   <input type="hidden" name="order_no"  value="{$info.order_no}" class="order_no"></input>
    </ul>
    </div> 
    
    <div id="tab1" class="tabson">
    
    <div class="formtext">请正确填写发布信息！</div>
    <ul class="forminfo">

    <li><label>经纪人<b>*</b></label>  
        <div class="vocation uew-select">         
            <select id="agent" name="agent" class="uew-select-value">                                      
                <volist name="staff" id="vo1">
                    <option value="{$key}" <if condition="$key eq $info['agent']" >selected="selected" </if> >{$vo1}</option>
                </volist>
            </select>
        </div>
    </li>
        
    <li><label>设备编号<b>*</b></label>  
        <div class="vocation uew-select">
            <select name="equipment" id="equipment" class="uew-select-value">
                <volist name="equipment" id="vo3">
                <option value="{$vo3.id}"
                <if condition="$vo3['id'] eq $info['equipment']"> selected="selected" </if> >{$vo3.xinghao}({$vo3.bianhao})</option>
            </volist>
            </select>
        </div>
    </li>

    <li><label>支付方式<b>*</b></label>  
        <div class="vocation uew-select">
            <select name="payment_method" class="uew-select-value">
                <volist name="payment" id="vo4">
                    <option value="{$vo4.id}" <if condition="$vo4['id'] eq $info['payment_method']"> selected="selected" </if>>{$vo4.payment}</option>
                </volist>
            </select>
        </div>
    </li>
        
    <li><label>买家微信号<b>*</b></label><input name="buyer_wechat" type="text" class="dfinput" value="{$info.buyer_wechat}"  /></li>
    <li><label>订单来源<b>*</b></label><input name="source" type="text" class="dfinput" value="{$info.source}"  /></li>
    <li><label>收件人姓名<b>*</b></label><input name="username" type="text" class="dfinput" value="{$info.username}"  /></li>
    <li><label>收件人电话<b>*</b></label><input name="mobile" type="text" class="dfinput" value="{$info.mobile}"  /></li>
    <li><label>收件人地址<b>*</b></label><input name="address" type="text" class="dfinput" value="{$info.address}"  /></li>
    <li><label>订单备注<b>*</b></label><input name="note" type="text" class="dfinput" value="{$info.note}"  /></li>
    <li><label><b>购买商品</b></li>
    </ul>

    <include file="./Application/Console/View/order/shopping.html" />


    <div class="col-md-offset-3 col-md-9">
        <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>  
        &nbsp; &nbsp; &nbsp;
        <button class="btn btn-info" type="reset" onclick="javascript:history.back()"><i class="ace-icon fa fa-undo bigger-110"></i>返回</button>
    </div>
    </form>
    </div> 
</div> 
        <script>
           getJjQuipment($("#agent").val());
           $(function(){
               $("#agent").change(function(){
                   getJjQuipment($(this).val());
               });
           })
            function getJjQuipment(id){                  
                var url="{:U('Order/getEquipment')}?id="+id;                
                $.get(url,function(data){                 
                    $("#equipment").html("");                    
                    var option="<option>请选择</option>";           
                    if(data!='0'){                                               
                        for( i in data){       
                            console.log(i);
                            option+="<option value=1"+data[i]+"1>"+data[i]['xinghao']+"("+data[i]['bianhao']+")"+"</option>"
                        }       
                    }
                     $("#equipment").html(option);
                })
            }
        </script>    
    
</body>

         <script>
                $(function(){
                    function getequipment(obj,id){
                            var url="{:U('Console/Equipment/edit')}?catid="+id;

                            $.get(url,function(data){
                                                if(data.length == 0){
                                                        return false;
                                                }
                                                var subordinates_html = '<select id="subordinatesdata" name="subordinates[]"  class="subordinates uew-select-value" style="margin-left:5px;">\
                                                                                                        <option value="0">请选择岗位</option>\
                                                                                                </select>';
                                                if(!$('#subordinatesdata').html() && data.length > 0){
                                                        $("#quarters_div").append(subordinates_html);
                                                }
                                $('#subordinatesdata').html('<option value="0">请选择岗位</option>');
                                                for(i=0 ;i<data.length;i++){
                                                        $('#subordinatesdata').append('<option value='+data[i].cate_id+'>'+data[i].cate_name+'</option'); 
                                                }

                            })            
                        }

                })

          </script>       
    
</html>
