<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">订单管理</a></li>
    <li><a href="#">订单列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
        <div class="tools">
            <ul class="seachform">
                <form action="/index.php/Console/Order/Plist" method="post" id="form2" name="form2">            
                    <li><label>搜索</label><input type="text" class="scinpute" name="username" value=""></li>
                    <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
                </form>
            </ul>
        </div>
    </div>
    
    <table class="tablelist">
    	<thead>
            <tr>
    <!--        <th><input name="" type="checkbox" value="" checked="checked"/></th>-->
                <th>ID<i class="sort"><img src="__PUBLIC__/Console/images/px.gif" /></i></th>
                <th>订单编辑</th>
                <th>下单时间</th>
                <th style="width:150px;">产品</th>
                <th style="width:50px;">价格</th>
                <th style="width:50px;">折扣</th>
                <th style="width:50px;">数量</th>
                <th style="width:50px;">优惠价</th>
                <th>订单金额</th>
                <th>经纪人</th>
                <th>组长</th>
                <th>操作发货</th>
                <th>确认收款</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr>
        <!--       <td><input name="" type="checkbox" value="" /></td>-->
                <td >{$vo.id}</td>
                <td>{$vo.order_no}</td>
                <td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                <td colspan="5">
                <table class="tablelistpro" style="border:0px;">
                    {$vo.order_no|get_orderno_to_pro=###}
                </table>
                </td>
                <td>{$vo.total_price}</td> 
                <td>{$staff[$vo['assistant']]}</td>
                <td>{$staff[$vo['agent']]}</td>

                <td>
                    <switch name="vo.payment_status">
                        <case value="0">已下单.</case>
                        <case value="1">
                            <switch name="vo.status">
                                <case value="1">已下单 
                                    <input type="text" style="height:23px;boder:1px;" id="suresmall3{$vo.id}" class="scinpute" name="numberno"> 
                                    <input  name="{$vo.id}" data="{$vo.payment_status}" type="button"  class="suresmall3" value="发货" />
                                </case>
                                <case value="2">已发货 {$vo.numberno} <input onclick="javascript:window.location='numberno/no/{$vo.numberno}'" type="button"   value="查询" />
                                </case>
                            </switch>
                        </case>
                        <default />已下单
                    </switch>
                </td>
                <td>
                    <if condition="$vo.payment_status eq 0">
                        <input name="{$vo.id}" data="{$vo.payment_status}" type="button"  class="suresmall" value="点击确认" />
                        <else/>
                        <input  type="button"  class="suresmall2" value="已付款" />
                    </if>
                </td>
                <td> <a href="__URL__/edit/id/{$vo.id}" class="tablelink">修改&nbsp;</a> <a href="__URL__/look/id/{$vo.id}" class="tablelink">&nbsp;查看</a></td>
            </tr> 
        </volist>
        
        </tbody>
    </table>
    
   
   <div id="page" class="pagination">
　　{$page}
</div>
    
    
    <script type="text/javascript">
	// $('.tablelist tbody tr:odd').addClass('odd');
     $(document).ready(function(){
    
        //数字验证 
        // $("#getcode_num").click(function(){
        //     $(this).attr("src", 'verify.html?' + Math.random());
        // });
        
        $(".suresmall").click(function(){

            var id = $(this).attr('name');
            var data = $(this).attr('data');
            $("#form2").attr("action", "Payment_status/id/"+id+"/status/"+data).submit();

        });
        $(".suresmall3").click(function(event) {
            var id = $(this).attr('name');
            var data = $(this).attr('data');

if($("#suresmall3"+id ).val()==''){
    alert("物流单号不能为空！");
    return false;
} else{
    $("#form2").attr("action", "updatenumberno/id/"+id+"/numberno/"+$("#suresmall3"+id ).val()).submit();

}



    //  val()是jQuery获取元素值得一个函数


            // if($("#suresma113"+id+".val()") ==''){
            //     alert('物流单号不能为空！');
            //     return false;
            // }
        });
    });
    // 
	</script>




</body>

</html>
