<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>

        <script src="__PUBLIC__/Console/js/validation/dist/jquery.validate.js"></script>
        <script src="__PUBLIC__/Console/js/validation/dist/localization/messages_zh.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/Console/js/staff_add.js"></script>
    </head>
	
    <body>
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">组织管理</a></li>
                <li><a href="#">员工管理</a></li>
            </ul>
        </div>

        <div class="formbody">
            <div id="usual1" class="usual"> 
                <form name="form1" id="form1" method='post' action="__URL__/insert">
                    <div class="itab">
                        <ul> 
                            <li><a href="#tab1" class="selected">员工信息</a></li> 
                        </ul>
                    </div> 

                    <div id="tab1" class="tabson">
                        <div class="formtext">请正确填写个人信息！</div>
                        <ul class="forminfo">
                            <li><label>用户名<b>*</b></label><input name="username" id="username" type="text" class="dfinput" value=""  /></li>
                            <li><label>密码<b>*</b></label><input name="password" id="password" type="password" class="dfinput"  value="" /></li>
                            <li><label>确认密码<b>*</b></label><input name="passwordConfirm" id="passwordConfirm" type="password" class="dfinput" value=""  /></li>                            
                            <li><label>昵称<b>*</b></label><input name="nickname" id="nickname" type="text" class="dfinput" value=""  /></li>
                            <li>
                                <label>岗位状态<b>*</b></label>
                                <cite>
                                    <input id="become" type="radio" checked="checked" value="1" name="become">&nbsp;转正&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" value="2" name="become">&nbsp;试用&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" value="3" name="become">&nbsp;实习
                                </cite>
                            </li>
                            <li>
                                <label>考勤状态<b>*</b></label>
                                <cite>
                                    <input id="iswork" type="radio" checked="checked" value="1" name="iswork">&nbsp;正常上班&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" value="2" name="iswork">&nbsp;休假&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" value="3" name="iswork">&nbsp;请假&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" value="4" name="iswork">&nbsp;离职
                                </cite>
                            </li>
                            <li><label>岗位<b>*</b></label>  
                                <div class="vocation uew-select" id="quarters_div">                 
                                    <select id="department" name="subordinates[]" class="uew-select-value">
                                        <option value="0">请选择部门</option>
                                        <volist name="department" id="voo">
                                            <option value="{$voo.cate_id}" cate_haschild="{$voo.cate_haschild}">{$voo.cate_name}</option>
                                        </volist>
                                    </select>
                                </div>

                                <div class="click" style="float: left;padding-left: 20px; width: 80px;padding-top:5px;line">
                            </li>

                            <li><label>上司<b>*</b></label>  
                                <div class="vocation uew-select" >
                                    <select id="supervisor" name="nibs" class="uew-select-value">
                                        <option value="0">请选择上司</option>

                                    </select>
                                </div>
                                <input type="hidden" id="supervisortext" name="nibstext"  />
                                <div class="click" style="float: left;padding-left: 20px; width: 80px;padding-top:5px;line">
                            </li> 
                            
                            <li><label>姓名<b>*</b></label><input name="name" id="name" type="text" class="dfinput" value=""  /></li>
                            <li><label>性别<b>*</b></label><cite><input id="sex" type="radio" <if condition="$user.sex == 1">checked="checked"</if>  checked="checked" value="1" name="sex">男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  <if condition="$user.sex == 2">checked="checked"</if> value="2" name="sex">女</cite></li>
                            <li><label>学历<b>*</b></label>  
                                <div class="vocation uew-select">
                                    <div class="col-sm-9">
                                        <select name="education" id="education" class="uew-select-value">
                                            <option value="0">请选择</option>
                                            <option value="1">大专</option>
                                            <option value="2">本科</option>
                                            <option value="3">研究生</option>                                        
                                            <option value="4">在校大专</option>
                                            <option value="5">在校本科</option>
                                            <option value="6">高中</option>
                                            <option value="7">中专</option>
                                            <option value="8">初中</option>
                                        </select>
                                        <input name="educationtext" id="educationtext" type="hidden" value="未知" />
                                    </div>
                                </div>
                                <div class="click" style="float: left;padding-left: 20px; width: 80px;padding-top:5px;"></div>
                            </li>                                
                            <li><label>身份证<b>*</b></label><input name="identity_card" id="identity_card" type="text" class="dfinput" value=""  /></li>
                            <li><label>出身日期<b></b></label><input name="birth_date" id="birth_date" onClick="WdatePicker()" type="text" class="dfinput" value=""  /></li>      
                            <li><label>电话<b>*</b></label><input name="mobile" id="mobile" type="text" class="dfinput" value=""  /></li>                            
                            <li><label>开始时间<b></b></label><input onClick="WdatePicker()" name="starttime" id="starttime" type="text" class="dfinput" value=""  /></li>  
                            <li><label>结束时间<b></b></label><input onClick="WdatePicker()" name="endtime" id="endtime" type="text" class="dfinput" value=""  /></li>  
                            <li><label>转正时间<b></b></label><input onClick="WdatePicker()" name="positivetime" id="positivetime" type="text" class="dfinput" value=""  /></li>  
                            <li><label>入职时间<b></b></label><input onClick="WdatePicker()" name="entry_time" id="entry_time" type="text" class="dfinput" value=""  /></li>  
                            <li><label>离职时间<b></b></label><input onClick="WdatePicker()" name="leavetime" id="leavetime" type="text" class="dfinput" value=""  /></li> 
                            <li>
                                <label>试用期工资<b></b></label>
                                <input name="salaryss" id="salaryss" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">转正后工资<b></b></label>
                                <input name="salaryzz" id="salaryzz" type="text" class="dfinput_left" value=""  />
                            </li>
                            <li><label>住房津贴<b></b></label>
                                <input name="housing" id="housing" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">交通津贴<b></b></label>
                                <input name="traffic" id="traffic" type="text" class="dfinput_left" value=""  />
                            </li>  
                            <li><label>餐饮津贴<b></b></label>
                                <input name="catering" id="catering" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">通讯津贴<b></b></label>
                                <input name="phone" id="phone" type="text" class="dfinput_left" value=""  />
                            </li>
                            <li><label>工作地点<b></b></label><input name="address" id="address" type="text" class="dfinput" value=""  /></li>  
                            <li><label>民族<b></b></label>
                                <input name="nationality"id="nationality"  type="text" class="dfinput_left" value=""  />
                                <label class="pl10">籍贯<b></b></label>
                                <input name="native_place" id="native_place" type="text" class="dfinput_left" value=""  />
                            </li>   
                            <li><label>毕业院校<b></b></label>
                                <input name="graduate" id="graduate" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">毕业时间<b></b></label>
                                <input name="graduation_date" id="graduation_date" onClick="WdatePicker()" type="text" class="dfinput_left" value=""  />
                            </li>  

                            <li>
                                <label>专业<b></b></label>
                                <input name="major" id="major" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">政治面貌<b></b></label>
                                <input name="politics_status" id="politics_status" type="text" class="dfinput_left" value=""  />
                            </li>      

                            <li><label>家庭住址<b></b></label><input name="homeadd" id="homeadd" type="text" class="dfinput" value=""  /></li>     
                            <li><label>现居住址<b></b></label><input name="homenow" id="homenow" type="text" class="dfinput" value=""  /></li>   

                            <li>
								<label>紧急联系人<b>*</b></label>
                                <input name="urgency" id="urgency" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">电话<b>*</b></label>
                                <input name="phone_ugy" id="phone_ugy" type="text" class="dfinput_left" value=""  />
                            </li>                   
							<!--
                            <li><label>开户行<b></b></label>  
                                <div class="vocation uew-select">
                                    <div class="col-sm-9">
                                        <select id="bankaddress" name="banckaddress" class="uew-select-value">                                            
                                            <option >请选择</option>
                                            <option value="1">中国工商银行</option>
                                            <option value="2">中国银行</option>
                                            <option value="3">中国建设银行</option>                                        
                                            <option value="4">中国农业银行</option>
                                        </select>
                                        <input id="banckaddresstext" type="hidden" name="banckaddresstext" />
                                    </div>
                                </div>
                            </li>-->
							<li><label>银行名称<b>*</b></label><input name="bankaddress" id="bankaddress" type="text" class="dfinput" value=""  /></li>                             
                            <li><label>银行账号<b>*</b></label><input name="bank_account" id="bank_account" type="text" class="dfinput" value=""  /></li>                             
                            <li><label>备注说明<b></b></label><input name="comment" id="comment" type="text" class="dfinput" value=""/></li> 

                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit" id="saveform" ><i class="ace-icon fa fa-check bigger-110"></i>提交</button>  

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i> 取消</button>
                            </div>
                        </ul>

                    </div> 
                </form>         
            </div> 
        </div>

    </body>

    <script type="text/javascript">

        $('#education').change(function () {
            $('#educationtext').val($(this).find("option:selected").text());
        });

        $('#post').change(function () {
            $('#posttext').val($(this).find("option:selected").text());
            if ($(this).find("option:selected").attr('cate_haschild') == 1) {
                subordinates($(this).find("option:selected").val());
            } else {
                $('#subordinates').remove();
            }
        });

        $('#bankaddress').change(function () {
            $('#banckaddresstext').val($(this).find("option:selected").text());
        });

        $(function () {
            $('#department').change(function () {
                nextselect(this);
            });
            $('#supervisor').change(function () {
                var supervisortext = $(this).find('option:selected').text();
                $('#supervisortext').val(supervisortext);
            });
        })
        //获取上级
        function getsupervisor(pid) {
            var u_url = "{:U('Console/Staff/GetSupervisor')}";
            $.post(u_url, {cate_id: pid}, function (data) {
                //console.log(data);

                if (data != 0 && data != '' && data != null) {
                    var html = '';
                    $('#supervisor').html('<option value="0">请选择上司</option>');
                    for (i in data) {

                        html += '<option value="' + i + '">' + data[i] + '</option>';
                    }
                    $('#supervisor').append(html);
                } else {
                    $('#supervisor').html('<option value="0">请选择上司</option>');
                }

            })

        }

        function nextselect(obj) {
            var id = $(obj).val();
            var select_length = $('#quarters_div').find('select').length;

            var supervisorid = $(obj).prev('select').val();
            if (!supervisorid) {
                supervisorid = 0;
            }
            getsupervisor(supervisorid);

            subordinates(obj, id);

        }
        ;

        function subordinates(obj, id) {
            var url = "{:U('Console/Staff/allcate')}?catid=" + id;

            $.get(url, function (data) {
                if (data.length == 0) {
                    return false;
                }
                var subordinates_html = '<select id="subordinatesdata" name="subordinates[]"  class="subordinates uew-select-value" style="margin-left:5px;">\
                                                                                        <option value="0">请选择岗位</option>\
                                                                                </select>';
                if (!$('#subordinatesdata').html() && data.length > 0) {
                    $("#quarters_div").append(subordinates_html);
                }
                $('#subordinatesdata').html('<option value="0">请选择岗位</option>');
                for (i = 0; i < data.length; i++) {
                    $('#subordinatesdata').append('<option value=' + data[i].cate_id + '>' + data[i].cate_name + '</option');
                }

            })
        }

        /*
         function nextselect(obj){
         var id = $(obj).val();
         var select_length = $('#quarters_div').find('select').length;

         var supervisorid = $(obj).prev('select').val();
         if(!supervisorid){
         supervisorid =0;
         }
         getsupervisor(supervisorid);

         subordinates(obj,id);

         };

         function subordinates(obj,id){
         var url="{:U('Console/Staff/allcate')}?catid="+id;

         $.get(url,function(data){
         var subordinates_html = '<select id="subordinates_'+id+'" name="subordinates[]"  class="subordinates uew-select-value" style="margin-left:5px;">\
         <option value="0">请选择</option>\
         </select>';

         if(data.length == 0){
         return false;
         }
         if(!$(obj).next('select').html() && data.length > 0){
         $("#quarters_div").append(subordinates_html);
         }

         $(obj).next('select').html('');
         $(obj).next('select').attr('id','subordinates_'+id);
         $(obj).next('select').attr('name','subordinates[]');
         $(obj).next('select').append('<option value="0">请选择</option'); 

         for(i=0 ;i<data.length;i++){
         $(obj).next('select').append('<option value='+data[i].cate_id+' cate_haschild='+data[i].cate_haschild+'>'+data[i].cate_name+'</option');    
         }
         if($('#subordinates_'+id).val() == 0){
         $('#subordinates_'+id).next('select').remove();
         }         
         })            
         }



         */

    </script>

</html>
