<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>



    </head>

    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">

                <li><a href="#">首页</a></li>
                <li><a href="#">组织管理</a></li>
                <li><a href="#">员工管理</a></li>
            </ul>
        </div>

        <div class="formbody">
            <div id="usual1" class="usual"> 
                <form name="form1" id="form1" method='post' action="__URL__/insert">
                    <div class="itab">

                        <ul> 
                            <li><a href="#tab1" class="selected">员工信息</a></li> 
                        </ul>
                    </div> 

                    <div id="tab1" class="tabson">

                        <div class="formtext">请正确填写个人信息！</div>
                        <ul class="forminfo">
                            <li><label>用户名<b>*</b></label><input name="xinghao" type="text" class="dfinput" value=""  /></li>

                            <li><label>密码<b>*</b></label><input name="bianhao" type="text" class="dfinput" value=""  /></li>
                            <li><label>昵称<b>*</b></label><input name="daiyanren" type="text" class="dfinput" value=""  /></li>
                            <li><label>是否转正<b>*</b></label><cite><input type="radio" checked="checked" value="1" name="sex">是&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="2" name="sex">否</cite></li>

                            <li><label>试用期工资<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">转正后工资<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>

                            <li><label>住房津贴<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">交通津贴<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>                        

                            <li><label>餐饮津贴<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">通讯津贴<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>

                            <li><label>部门<b>*</b></label>  
                                <div class="vocation uew-select">
                                    <select name="protype" class="uew-select-value">
                                        <volist name="protype" id="voo">
                                            <option value="{$voo.id}">{$voo.typename}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="click" style="float: left;padding-left: 20px; width: 80px;padding-top:5px;line">
                            </li>        

                            <li><label>岗位<b>*</b></label>
                                <div class="col-sm-9">
                                    <select name="parent">
                                        <option value="0">{$voo.category}</option>
                                            <foreach name="category" item="cat">
                                                <option value="{$cat.id}" <?php if((isset($brand['parent']) && $brand['parent']==$cat['id']) || (isset($_GET['parent_id']) && $_GET['parent_id']==$cat['id'])):?>
                                                      selected="selected"
                                                     <?php endif;?>>
                                                    {$cat.name}
                                                </option>
                                            </foreach>
                                    </select>
                                </div>
                            </li>  

                            <li><label>姓名<b>*</b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>
                            <li><label>性别<b>*</b></label><cite><input type="radio" checked="checked" value="1" name="sex">男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="2" name="sex">女</cite></li>
                            <li><label>身份证<b>*</b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>
                            <li><label>出身日期<b></b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>      
                            <li><label>电话<b>*</b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>
                            <li><label>入职时间<b></b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>  

                            <li><label>民族<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">籍贯<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>    

                            <li><label>毕业院校<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">毕业时间<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>

                            <li><label>学历<b>*</b></label>  
                                <div class="vocation uew-select">
                                    <select name="protype" class="uew-select-value">
                                        <volist name="protype" id="voo">
                                            <option value="{$voo.id}">{$voo.typename}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="click" style="float: left;padding-left: 20px; width: 80px;padding-top:5px;line">
                            </li>      

                            <li><label>专业<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">政治面貌<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>      

                            <li><label>家庭住址<b></b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>     
                            <li><label>现居住址<b></b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li>   

                            <li><label>紧急联系人<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">电话<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li> 
                            
                            <li><label>开户行<b></b></label>
                                <input name="qqhao" type="text" class="dfinput_left" value=""  />
                                <label class="pl10">银行账号<b></b></label>
                                <input name="qqpass" type="text" class="dfinput_left" value=""  />
                            </li>                               
                            <li><label>备注说明<b></b></label><input name="kaijipassword" type="text" class="dfinput" value=""  /></li> 
                            
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>  
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i> 取消</button>
                            </div>
                            
                        </ul>

                    </div> 
                </form>         
            </div> 


        </div>


    </body>

</html>
