<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>



</head>

<body>

    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    
    <li><a href="#">首页</a></li>
    <li><a href="#">管理员管理</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    <div id="usual1" class="usual"> 
    
    <div class="itab">
        
    <ul> 

    <li><a href="#tab1" class="selected">编辑信息</a></li> 
   
    </ul>
    </div> 
    
    <div id="tab1" class="tabson">
    <form name="form1" id="form1" method='post' action="__URL__/update">
    <div class="formtext">请正确填写发布信息！</div>
    <ul class="forminfo">
    <li><label>所属分组<b>*</b></label>  
    

    <div class="vocation uew-select">
    <select id="roleid" name="roleid" class="uew-select-value">
        <volist name="roletype" id="vo">
         <option value="{$vo.id}" <if condition="$vo['id'] eq $data['roleid']"> selected="selected" </if>>{$vo.rolename}</option>
    </volist>
    
    </select>
    </div>
    
    </li>
    <input type="hidden" name ="id"   value="{$data.id}">
    <li><label>用户名<b>*</b></label><input name="" type="text" class="dfinput" value="{$data.accounts}"  /><b>用户不能为修改</b></li>

    <li><label>密码<b>*</b></label><input name="password" type="text" class="dfinput" value=""  /><b>密码字段为空时不做修改</b></li>
   
    <!-- <li><label>到期日期<b>*</b></label><input name="endtime" type="text" class="Wdate" value="{$endtime['add_time']|date='Y-m-d',###}"  onClick="WdatePicker()" style="width:187px;"/></li> -->
      
    <li><label>昵称<b>*</b></label><input name="nickname" type="text" class="dfinput" value="{$data.nickname}" /></li>
   
    <li><label>姓名<b>*</b></label><input name="username" type="text" class="dfinput" value="{$data.username}"  /></li>

    <li><label>性别<b>*</b></label><cite><input type="radio"  <if condition="$data.sex eq '男'"> checked="checked" </if> value="男" name="sex">男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  <if condition="$data.sex eq 女"> checked="checked" </if> value="女" name="sex">女</cite></li>
   
    <li><label>手机<b>*</b></label><input name="mobile" type="text" class="dfinput" value="{$data.mobile}"  /></li>
   

    <li><label>备注<b>*</b></label>
    <textarea class="textinput" rows="" cols="" name="content">{$data.content}</textarea>
    </li>
    <li><label>是否审核</label><cite><input type="radio"  <if condition="$data.status eq 1"> checked="checked" </if> value="1" name="status">是&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" <if condition="$data.status eq 0"> checked="checked" </if> value="0" name="status">否</cite></li>
    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="马上发布"/></li>

    </ul>
</form>    
    </div> 
    
    
   
       
    </div> 
 
 
    
    
    
    
    
    </div>


</body>

</html>
