<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/lanrenzhijia.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
    </head>
    <script>
        $(function () {
            $("#subordinates .dish:last").remove();
        })
    </script>
    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">

                <li><a href="#">首页</a></li>
                <li><a href="#">员工管理</a></li>
            </ul>
        </div>

        <div class="formbody">
            <div id="usual1" class="usual">
                <if condition="$id">
                    <input name="id" type="hidden"   value="{$id}"/>
                </if> 

                <div class="itab">

                    <ul> 
                        <li><a href="#tab1" class="selected">查看信息</a></li> 
                    </ul>
                </div> 

                <div id="tab1" class="tabson">

                    <div class="formtext">个人信息</div>
                    <table style="margin-left:25px">
                        <tr>
							<td style="height:20px;padding:5px;">
                                <label>编号：</label>  
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.number}
                            </td>
						</tr>
						<tr>
                            <td style="height:20px;padding:5px;">
                                <label>用户名：</label>  
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.username}
                            </td>
                            <!--
                            <td style="height:20px;padding:5px;">
                                    <label>密码：</label> 
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                    {$user.password}
                            </td>-->
                            <td style="height:20px;padding:5px;">
                                <label>昵称：</label>   
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.nickname} 
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>入职时间：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.entry_time|date='Y-m-d',###}
                            </td>
                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>是否转正：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                <if condition="$user.become == 1">
                                    是
                                    <else/>
                                    否
                                </if>
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>试用期工资：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.salaryss}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>转正后工资：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.salaryzz}
                            </td>

                        </tr>
                        <tr> 
                            <td style="height:20px;padding:5px;">
                                <label>住房津贴：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.housing}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>交通津贴：</label>
                            </td>
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.traffic}
                            </td> 
                            <td style="height:20px;padding:5px;">
                                <label>餐饮津贴：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.catering}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>通讯津贴：</label>
                            </td>
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.phone}
                            </td>
                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>部门：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
								<volist name="department" id="voo">
                                    <if condition="$voo['cate_id'] eq $user['section']" >{$voo.cate_name}</if>
                                </volist>
                            </td>  
                            <td style="height:20px;padding:5px;">
                                <label>岗位：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
								{$quarters.cate_name}
                            </td>
							<if condition="$subordinates">
                            <td style="height:20px;padding:5px;">
                                <label>下级部门：</label>
                            </td>	
                            <td colspan="2" style="height:20px;padding:5px 50px 5px 5px;" id="subordinates">
                                <foreach name="subordinates" item="val">
                                    {$val}<span class="dish" style="display:inline">、</span>
                                </foreach>
                            </td>
							</if>
                        </tr>
						<tr>
							<td style="height:20px;padding:5px;">
                                <label>上司：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
								{$user.nibstext}
                            </td>  
						</tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>姓名：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.name|hiddenstr=###} 
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>性别：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                <if condition="$user.sex == 2">
                                    女
                                    <else/>
                                    男
                                </if>
                            </td>  
                            <td style="height:20px;padding:5px;">
                                <label>名族：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.nationality}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>籍贯：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.native_place}
                            </td>  

                        </tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>身份证：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.identity_card|hiddenstr=###}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>出身日期：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.birth_date|date='Y-m-d',###}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>电话：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.mobile|hiddenstr=###}
                            </td>  

                        </tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>政治面貌：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.politics_status} 
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>家庭住址：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.homeadd|hiddenstr=###}
                            </td>  
                            <td style="height:20px;padding:5px;">
                                <label>现居住址：</label>
                            </td>	
                            <td colspan="2" style="padding:5px 50px 5px 5px;">
                                {$user.homenow|hiddenstr=###}
                            </td>

                        </tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>紧急联系人：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.urgency|hiddenstr=###}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>紧急联系电话：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.phone_ugy|hiddenstr=###}
                            </td>  
                            <td style="padding:5px;">
                                <label>开户行：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                <if condition="$user.education eq 1" >中国工商银行
                                    <elseif condition="$user.education eq 2" />中国银行
                                    <elseif condition="$user.education eq 3" />中国建设银行
                                    <elseif condition="$user.education eq 4" />中国农业银行</if> 
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>银行账号：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.bank_account}
                            </td>
                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>

                        <tr>
                            <td style="padding:5px;">
                                <label>学历：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                <if condition="$user.education eq 1" >大专
                                    <elseif condition="$user.education eq 2" />本科
                                    <elseif condition="$user.education eq 3" />研究生
                                    <elseif condition="$user.education eq 4" />在校大专
                                    <elseif condition="$user.education eq 5" />在校本科
                                    <elseif condition="$user.education eq 6" />高中
                                    <elseif condition="$user.education eq 7" />中专
                                    <elseif condition="$user.education eq 8" />初中</if>
                            </td>  
                            <td style="height:20px;padding:5px;">
                                <label>毕业院校：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.graduate}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>专业：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.major}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>毕业时间：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.graduation_date|date='Y-m-d',###}
                            </td>
                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>备注说明：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$user.comment}
                            </td>  

                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                        <tr>
                            <td style="height:20px;padding:5px;">
                                <label>订单总数：</label>
                            </td>
                            <td style="height:20px;padding:5px 50px 5px 5px;">{$order_nums}</td>
                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                    </table>

                    <div class="formtext" style="line-height:76px;">使用设备信息</div>
                    <div class="gwc" style=" margin:auto;">
                        <table cellpadding="0" cellspacing="0" class="gwc_tb1" style="width:60%;background:#eef6ff;">
                            <tr style="background:#d0e7fa;">
                                <td class="tb1_td1" style="height:35px;">型号</td>
                                <td class="tb1_td1" style="height:35px;">编号</td>
                                <td class="tb1_td1" style="height:35px;">代言人</td>
                                <td class="tb1_td1" style="height:35px;">负责人</td>
                                <td class="tb1_td1" style="height:35px;">所在部门</td>
                                <td class="tb1_td1" style="height:35px;">所在工位</td>
                                <td class="tb1_td1" style="height:35px;">设备维护</td>
                                <td class="tb1_td1" style="height:35px;"> 添加日期</td>
                            </tr>
                            <foreach name="Equipment" item="val">
                                <tr>
                                    <td class="tb2_td1" style="height:35px;">{$val.xinghao}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.bianhao}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.daiyanren}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.fuzeren}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.bumen}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.gongwei}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.stauts|getstautsnum=###}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.addtime|date='Y-m-d',###}</td>
                                </tr>
                            </foreach>
                        </table>
                    </div>
					<div class="formtext" style="line-height:76px;">领取设备信息</div>
                    <div class="gwc" style=" margin:auto;">
                        <table cellpadding="0" cellspacing="0" class="gwc_tb1" style="width:60%;background:#eef6ff;">
                            <tr style="background:#d0e7fa;">
                                <td class="tb1_td1" style="height:35px;">型号</td>
                                <td class="tb1_td1" style="height:35px;">设备用途</td>
                                <td class="tb1_td1" style="height:35px;">状态</td>
								<td class="tb1_td1" style="height:35px;">备注</td>
                                <td class="tb1_td1" style="height:35px;"> 领取时间</td>
								<td class="tb1_td1" style="height:35px;"> 操作</td>
                            </tr>
                            <foreach name="eqtrack" item="val">
                                <tr>
                                    <td class="tb2_td1" style="height:35px;">{$val.xinghao}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.get|getorderget=###}</td>
                                    <td class="tb2_td1" style="height:35px;">
										<if condition="$val.status == 1">
										已领取
										<elseif condition="$val.status == 2"/>
										领取中
										<else/>
										未领取
										</if>
									</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.comment}</td>
                                    <td class="tb2_td1" style="height:35px;">{$val.gettime|date='Y-m-d H:i:s',###}</td>
									<td class="tb2_td1" style="height:35px;">
										<if condition="$val.status != 1">
										<span class="btn" data_url="{:U('Equipment/verify')}" onclick="verify(this,{$val['id']},{$val['staff_id']});" style="line-height:35px;text-align:center;margin:0 auto;">确认领取</span>
										<else/>
										已领取
										</if>					
									</td>
                                </tr>
                            </foreach>
                        </table>
                    </div>
					<div class="formtext" style="line-height:76px;">下级人员信息</div>
					<div class="gwc" style=" margin:auto;">
						<table cellpadding="0" cellspacing="0" class="gwc_tb1" style="width:60%;background:#eef6ff;">
							<tr style="background:#d0e7fa;">
								<td class="tb1_td1" style="height:35px;">用户名</td>
								<td class="tb1_td1" style="height:35px;">姓名</td>
								<td class="tb1_td1" style="height:35px;">性别</td>
								<td class="tb1_td1" style="height:35px;">昵称</td>
								<td class="tb1_td1" style="height:35px;">部门</td>
								<td class="tb1_td1" style="height:35px;">岗位</td>
								<td class="tb1_td1" style="height:35px;">学历</td>
								<td class="tb1_td1" style="height:35px;"> 电话</td>
							</tr>
							<foreach name="subordinatesUsers" item="val">
							<tr>
								<td class="tb2_td1" style="height:35px;">{$val.username}</td>
								<td class="tb2_td1" style="height:35px;">{$val.name}</td>
								<td class="tb2_td1" style="height:35px;">
									<if condition="$val.sex eq 1">男
									<elseif condition="$val.sex eq 2" />女
									<else />未填
									</if>
								</td>
								<td class="tb2_td1" style="height:35px;">{$val.nickname}</td>
								<td class="tb2_td1" style="height:35px;">
									{$cat[$val['section']]}
								</td>
								<td class="tb2_td1" style="height:35px;">
									{$cat[$val['quarters']]}
								</td>
								<td class="tb2_td1" style="height:35px;">{$education[$val['education']]}</td>
								<td class="tb2_td1" style="height:35px;">{$val.mobile|hiddenstr=###}</td>
							</tr>
							</foreach>
						</table>
					</div>
                    <div class="formtext" style="line-height:76px;">领取办公用品</div>
                    <div class="gwc" style=" margin:auto;">
                        <table cellpadding="0" cellspacing="0" class="gwc_tb1" style="width:60%;background:#eef6ff;">
                            <tr style="background:#d0e7fa;">
                                <td class="tb1_td1" style="height:35px;">id</td>
                                <td class="tb1_td1" style="height:35px;">名称</td>
                                <td class="tb1_td1" style="height:35px;">数量</td>
                                <td class="tb1_td1" style="height:35px;">用途</td>
								<td class="tb1_td1" style="height:35px;">状态</td>
                                <td class="tb1_td1" style="height:35px;">操作</td>
                            </tr>
                            <volist name="stafftake" id="vo">
                            <tr>
                                <td class="tb2_td1" style="height:40px;">{$vo.id}</td>
                                <td class="tb2_td1" style="height:40px;">{$vo.name}</td>
                                <td class="tb2_td1" style="height:40px;">{$vo.number}</td>
                                <td class="tb2_td1" style="height:40px;">{$vo.comment}</td>
								<td class="tb2_td1" style="height:40px;">
									<if condition="$vo.status == 2">
									已列为捐款设备
									<else/>
									
									</if>
								</td>
                                <td class="tb2_td1" style="height:35px;">
									<a href="{:U('Asset/assetrecycle',array('id'=>$vo['id']))}">回收</a>
									<if condition="$vo.status != 2">
									<a href="{:U('Asset/assetpayment',array('id'=>$vo['id']))}">扣款</a>
									</if>					
								</td>
                            </tr>
                            </volist>
                        </table>
                    </div>
                    <div class="col-md-offset-3 col-md-9" style="margin-top:30px;">
						<if condition="$Think.session.userid == $user['id']">
						<a style="width:137px; height:35px; display:block; text-align:center; line-height:35px;float:left;margin-right:10px;" class="btn btn-info" href="/员工休假表格式.xls">申请休假/请假</a>
						</if>
						<a style="width:137px; height:35px; display:block; text-align:center; line-height:35px;float:left;" class="btn btn-info" href="javascript:history.back(-1);">返回</a>
                    </div>
                </div>      
            </div> 
        </div>
		<input id="login_user" type="hidden" value="{$login_user}" />
    </body>
	<script>
		function verify(obj,id,staff_id){
			var url = $(obj).attr('data_url');
			var login_user = $('#login_user').val();
			if(login_user != staff_id){
				alert('此设备未转移给您，您无权操作此项');
				return false;
			}
			if(confirm('确定领取吗')){
				$.post(url,{id:id,status:1},function(data){
					alert(data.msg);
					if(data.result == 1){
						window.location.reload();
					}
				})
			}
		}
	</script>
</html>
