<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});

//密码重置
function reset_pass(id){
	if(confirm('确定要重置密码吗？')){
		$.post('__URL__/resetpass/',{id:id},function(data){
			if(data.info){
				alert(data.info);
				return false;
			}
			var data = eval('('+data+')');
			if(data.result == 1){
				alert('密码重置成功');
				window.location.href='__URL__/Staff';
			}else{
				alert(data.msg);
			}
		})
	}
	
}
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">员工组</a></li>
    <li><a href="#">员工管理</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
            <div class="tools">
                <ul class="toolbar">
                    <li><a href="__URL__/add"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>添加</a></li>
                    <!--         <li class="click"><span><img src="__PUBLIC__/Console/images/t02.png" /></span>修改</li>
                            <li><span><img src="__PUBLIC__/Console/images/t03.png" /></span>删除</li>
                            <li><span><img src="__PUBLIC__/Console/images/t04.png" /></span>统计</li> -->

                </ul>

                <ul class="seachform">

                    <form action="/index.php/Console/Staff/Staff" method="post" id="form2" name="form2">            
                        <li><label><b style="color:#009ceb;">部门</b></label>
                            <select class="sciselect" name="department" id="department">
                                <option value="0">请选择</option>
								<volist name="department"  id="vo">
                                    <option <if condition="$key eq $section">selected="selected"</if> value="{$key}">{$vo}</option>
                                </volist>
                            </select>
                        </li>
                        <li><label><b style="color:#009ceb;">岗位</b></label>
                            <select class="sciselect" name="quarters" id="quarters">                            
                                <option>请选择</option>
                            </select>
                        </li>
                        <li><label>搜索</label><input type="text" class="scinpute" name="username" value="" title="请输入账号/昵称/姓名/手机号"></li>
                        <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
   
<!--                        <li><label>请假人数:</label><a style="width:10px; height:32px; color:red;">{$count_data.userCount3}</a></li>                                
                        <li><label>离职人数:</label><a style="width:10px; height:32px; color:#666666;">{$count_data.userCount4}</a></li>-->
                           
                    </form>
                        <li><label><a href="/index.php/Console/Staff/Staff/iswork/1"  type="submit">上班人数:</a></label><a style="line-height:32px; color: blue;">{$count_data[1]|default=0}</a></li> 
                        <li><label><a href="/index.php/Console/Staff/Staff/iswork/2"type="submit">休息人数:</a></label><a style="line-height:32px; color:#33cc00;">{$count_data[2]|default=0}</a></li>     
                        <li><label><a href="/index.php/Console/Staff/Staff/iswork/3"type="submit">请假人数:</a></label><a style="line-height:32px; color:red;">{$count_data[3]|default=0}</a></li>                                
                        <li><label><a href="/index.php/Console/Staff/Staff/iswork/4"type="submit">离职人数:</a></label><a style="line-height:32px; color:#666666;">{$count_data[4]|default=0}</a></li>  
                    
					<form action="/index.php/Console/Staff/ExcelStaff" method="post" id="save_excel" enctype="multipart/form-data">  			
					<ul class="toolbar" style="float:right;">
						<li style="padding:0"><a href="javascript:;" class="file_btn"><span><img src="__PUBLIC__/Console/images/t01.png" /></span><input  type="file" id="excel" name="excel" />导入表格</a></li>
					</ul>
					</form>
                </ul>                                   
            </div>
    
    
    
    <table class="tablelist">
    	<thead>
            <tr>
<!--                <th><input name="" type="checkbox" value="" checked="checked"/></th>-->
                <th>序号</th>
				<th>编号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>               
               <!--  <th>昵称</th> -->
                <!--<th>身份证</th>   -->             
                <th>部门</th>
                <th>岗位</th>
                <th>岗位状态</th>
				<th>考勤状态</th>
				
              <!--   <th>学历</th> -->
                <!--<th>电话</th>--> 
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">

            <tr>
            <td>{$i}</td>
			<td>{$vo.number}</td>
<!--            <td><input name="" type="checkbox" value="" /></td>-->
            <td><a href="{:U('Staff/lookover',array('id'=>$vo['id']))}" >{$vo.username}</a></td>
            <td><a href="{:U('Staff/lookover',array('id'=>$vo['id']))}" >{$vo.name}</a></td>
            <td><if condition="$vo.sex eq 1">男<elseif condition="$vo.sex eq 2" />女<else />未填</if></td>
    <!--         <td>{$vo.nickname}</td> -->
            <!--<td>{$vo.identity_card}</td> -->           
            <td>
				{$cat[$vo['section']]}
			</td>
            <td>
				{$cat[$vo['quarters']]}
			</td>
			<td>
				<if condition="$vo.become eq 1">
				转正
				<elseif condition="$vo.become eq 2"/>
				试用
				<elseif condition="$vo.become eq 3"/>
				实习
				<else/>
				未知
				</if>
			</td>
			<td>
				<if condition="$vo.iswork eq 2">
				休假
				<elseif condition="$vo.iswork eq 3"/>
				请假
				<elseif condition="$vo.iswork eq 4"/>
				离职
				<else/>
				正常上班
				</if>
			</td>
           <!--  <td>{$education[$vo['education']]}</td> -->
            <!--<td>{$vo.mobile}</td>-->
            <td>
				<a href="__URL__/edit/id/{$vo.id}" class="tablelink">修改</a>
				<a href="javascript:;" class="tablelink" onclick="reset_pass({$vo.id});"> 密码重置</a>
                <a  href="javascript:stafftake({$vo.id});" >领取办公用品</a>
				<if condition="$isadmin gt 0">
				<a href="javascript:;" onclick="del_data(this)" del_href="__URL__/delete/id/{$vo.id}" class="tablelink"> 删除</a>
				</if>
            </td>
            </tr> 
            </volist>
        
        </tbody>
    </table>
    
   
   
　　{$page}
    
    
    </div>    

    <script type="text/javascript" src="__PUBLIC__/Console/js/layer/layer.js" ></script> 
    <script type="text/javascript">
	
	$('.tablelist tbody tr:odd').addClass('odd');
	
	function del_data(obj){
		var href= $(obj).attr('del_href');
		if(confirm('确定要删除吗')){
			window.location.href=href;
		}
	}
	
    function stafftake(id){
        layer.open({
          type: 2,
          title: false,
          shadeClose: true,
          shade: 0.8,
          area: ['420px', '380px'],
          content: "{:U('Asset/staffAsset')}?id="+id, //iframe的url
        }); 
    }
    var postid="{$quarters}";
	if($("#department").val() != 0){
		ajxpost($("#department").val(),postid);
	}
    
    //部门联级查找
    $("#department").change(function(){
        ajxpost($(this).val());
    })
    function ajxpost(catid,nb){
        var url="{:U('Staff/allcate')}?catid="+catid;        
        $.get(url,function(data){            
            var option="<option value=''>请选择岗位</option>";
            for(itme in data){
                if(nb==data[itme]['cate_id']&&nb.length>0){
                    option+="<option selected='selected' value="+data[itme]['cate_id']+">"+data[itme]['cate_name']+"</option>";
                }else{
                    option+="<option value="+data[itme]['cate_id']+">"+data[itme]['cate_name']+"</option>";    
                }
                
            }
            $('#quarters').html(option);    
        })
    }    
	
	$(function(){
		$(".file_btn").on("change","input[type='file']",function(){
			var filePath=$(this).val();
			if(filePath != ''){
				$('#save_excel').submit();
			}
		})
	})
	</script>

</body>

</html>

