<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});

//密码重置
function reset_pass(id){
	if(confirm('确定要重置密码吗？')){
		$.post('__URL__/resetpass/',{id:id},function(data){
			if(data.info){
				alert(data.info);
				return false;
			}
			var data = eval('('+data+')');
			if(data.result == 1){
				alert('密码重置成功');
				window.location.href='__URL__/Staff';
			}else{
				alert(data.msg);
			}
		})
	}
	
}
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">员工组</a></li>
    <li><a href="#">员工管理</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
            <div class="tools">
                <ul class="toolbar">
                    <li><a href="__URL__/add"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>添加</a></li>
                    <!--         <li class="click"><span><img src="__PUBLIC__/Console/images/t02.png" /></span>修改</li>
                            <li><span><img src="__PUBLIC__/Console/images/t03.png" /></span>删除</li>
                            <li><span><img src="__PUBLIC__/Console/images/t04.png" /></span>统计</li> -->

                </ul>

                <ul class="seachform">
                    <form action="/index.php/Console/Staff/Staff" method="post" id="form2" name="form2">            
                        <li><label>搜索</label><input type="text" class="scinpute" name="username" value=""></li>
                        <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
                    </form>
					<ul class="toolbar" style="float:right;">
						<li><a href="#"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>导入表格</a></li>
					</ul>
                </ul>
				
            </div>
    
    
    
    <table class="tablelist">
    	<thead>
            <tr>
<!--                <th><input name="" type="checkbox" value="" checked="checked"/></th>-->
                <th>序号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>               
               <!--  <th>昵称</th> -->
                <!--<th>身份证</th>   -->             
                <th>部门</th>
                <th>岗位</th>
				<th>上班状态</th>
				<th>岗位状态</th>
              <!--   <th>学历</th> -->
                <!--<th>电话</th>--> 
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">

            <tr>
            <td>{$i}</td>
<!--            <td><input name="" type="checkbox" value="" /></td>-->
            <td><a href="{:U('Staff/lookover',array('id'=>$vo['id']))}" >{$vo.username}</a></td>
            <td><a href="{:U('Staff/lookover',array('id'=>$vo['id']))}" >{$vo.name}</a></td>
            <td><if condition="$vo.sex eq 1">男<elseif condition="$vo.sex eq 2" />女<else />未填</if></td>
    <!--         <td>{$vo.nickname}</td> -->
            <!--<td>{$vo.identity_card}</td> -->           
            <td>
				{$cat[$vo['section']]}
			</td>
            <td>
				{$cat[$vo['quarters']]}
			</td>
			<td>
				<if condition="$vo.become eq 1">
				转正
				<elseif condition="$vo.become eq 2"/>
				试用
				<elseif condition="$vo.become eq 3"/>
				实习
				<else/>
				未知
				</if>
			</td>
			<td>
				<if condition="$vo.iswork eq 2">
				休假
				<elseif condition="$vo.iswork eq 3"/>
				请假
				<elseif condition="$vo.iswork eq 4"/>
				离职
				<else/>
				正常上班
				</if>
			</td>
           <!--  <td>{$education[$vo['education']]}</td> -->
            <!--<td>{$vo.mobile}</td>-->
            <td><a href="__URL__/edit/id/{$vo.id}" class="tablelink">修改</a><a href="javascript:;" class="tablelink" onclick="reset_pass({$vo.id});"> 密码重置</a><!--<a href="__URL__/delete/id/{$vo.id}" class="tablelink"> 删除</a>--></td>
            </tr> 
            </volist>
        
        </tbody>
    </table>
    
   
   
　　{$page}
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
