<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>

<script src="__PUBLIC__/Console/js/validation/lib/jquery.js"></script>
<script src="__PUBLIC__/Console/js/validation/dist/jquery.validate.js"></script>
<script src="__PUBLIC__/Console/js/validation/dist/localization/messages_zh.js"></script> 
<script type="text/javascript">
	$(function(){
		$.validator.setDefaults({
			submitHandler: function() {
				$('#form1').submit();
			}
		});

		$("#form1").validate({
			rules:{
				roleid:'required',
				accounts: {
					required: true,
					minlength: 2
				},
				password: {
					required: true,
					minlength: 5,
					maxlength: 12
				},	
				nickname: {
					required: true,
					minlength: 2
				},	
				username: {
					required: true,
					minlength: 2
				},	
				sex:'required',
				mobile: {
					required: true,
					number:true,
					minlength: 11,
					maxlength: 11
				}			
				
			},
			messages: {				
				roleid: "请选择分组",
				accounts: {
					required: "请输入用户名",
					minlength: "不能少于2个字符",
				},
				password: {
					required: "请输入密码",
					minlength: "不能少于4个字符",
					maxlength: "不能多于26个字符",
				},	
				nickname: {
					required: "请输入昵称",
					minlength: "不能少于2个字符",
				},	
				username: {
					required: "请输入姓名",
					minlength: "不能少于2个字符",
				},		
				sex:"请选择性别",
				mobile: {
					required: "请输入手机号",
					minlength: "11位手机号",
					maxlength: "11位手机号",
					number: "手机格式错误"
				}					
			},
			errorClass:'cerror',
			
		});
	});
</script>
<body>
    <div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="#">首页</a></li>
			<li><a href="#">管理员管理</a></li>
		</ul>
    </div>
    
    <div class="formbody">
		<div id="usual1" class="usual"> 
			<form name="form1" id="form1" method='post' action="__URL__/insert">
				<div class="itab">
					<ul> 
						<li><a href="#tab1" class="selected">添加管理员</a></li> 
					</ul>
				</div> 
		
				<div id="tab1" class="tabson">
					<div class="formtext">请正确填写信息！</div>
					<ul class="forminfo">
						<li>
							<label>所属分组<b>*</b></label>  
							<div class="vocation uew-select">
							<select id="roleid" name="roleid" class="uew-select-value">
							<volist name="roletype" id="vo">
								 <option value="{$vo.id}">{$vo.rolename}</option>
							</volist>
							</select>
							</div>
						</li>
						<li><label>用户名<b>*</b></label><input name="accounts" id="accounts" type="text" class="dfinput" value=""  /></li>
						<li><label>密码<b>*</b></label><input name="password" id="password" type="text" class="dfinput" value=""  /></li>
						<li><label>昵称<b>*</b></label><input name="nickname" id="nickname" type="text" class="dfinput" value=""  /></li>
						<li><label>姓名<b>*</b></label><input name="username" id="username" type="text" class="dfinput" value=""  /></li>
						<li><label>性别<b>*</b></label><cite><input type="radio" id="sex" checked="checked" value="男" name="sex">男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="女" name="sex">女</cite></li>
						<li><label>手机<b>*</b></label><input name="mobile" id="mobile" type="text" class="dfinput" value=""  /></li>
						<li>
							<label>备注<b></b></label>
							<textarea class="textinput" rows="" cols="" name="content"></textarea>
						</li>
						<li><label>是否审核</label><cite><input type="radio" checked="checked" value="1" name="status">是&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="0" name="status">否</cite></li>
						<li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保&nbsp;&nbsp;存"/></li>
					</ul>
				</div>
			</form>
		</div> 
    </div>


</body>

</html>
