<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/select.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/Console/css/lanrenzhijia.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.idTabs.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Console/js/select-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
    </head>
    <script>
        $(function () {
            $("#subordinates .dish:last").remove();
        })
    </script>
    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">

                <li><a href="#">首页</a></li>
                <li><a href="#">员工管理</a></li>
            </ul>
        </div>

        <div class="formbody">
            <div id="usual1" class="usual">
                <if condition="$id">
                    <input name="id" type="hidden"   value="{$id}"/>
                </if> 

                <div class="itab">

                    <ul> 
                        <li><a href="#tab1" class="selected">查看信息</a></li> 
                    </ul>
                </div> 

                <div id="tab1" class="tabson">

                    <div class="formtext">个人信息</div>
                    <table style="margin-left:25px">
                        <tr>
                            
                            <td style="height:20px;padding:5px;">
                                <label>用户名：</label>   
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$data.accounts}
                            </td>
							<td style="height:20px;padding:5px;">
                                <label>姓名：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$data.username}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>昵称：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$data.nickname}
                            </td>
                        </tr>
                        <tr>
                            
                            <td style="height:20px;padding:5px;">
                                <label>性别：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                <if condition="$data.sex == 2">
                                    女
                                    <else/>
                                    男
                                </if>
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>手机：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$data.mobile}
                            </td>

                        </tr>
                        <tr><td colspan="8" style="padding:10px 0;"><hr style="width:100%;height:1px;border-top:1px #d0e7fa solid;"/></td></tr>
                        <tr> 
                            <td style="height:20px;padding:5px;">
                                <label>所属分组：</label>  
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                               <volist name="roletype" id="vo">
									<if condition="$vo['id'] eq $data['roleid']">{$vo.rolename}</if>
								</volist>
                            </td>
							<td style="height:20px;padding:5px;">
                                <label>备注：</label>
                            </td>	
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                {$data.content}
                            </td>
                            <td style="height:20px;padding:5px;">
                                <label>是否审核：</label>
                            </td>
                            <td style="height:20px;padding:5px 50px 5px 5px;">
                                <if condition="$data.status eq 1">
								是
								<else/>
								否
								</if>
                            </td> 
                        </tr>
                    </table>

                    <div class="col-md-offset-3 col-md-9" style="margin-top:30px;">
                        <a style="width:137px; height:35px; display:block; text-align:center; line-height:35px;float:left;margin-right:10px;" class="btn btn-info" href="/员工休假表格式.xls">申请休假/请假</a>
						<a style="width:137px; height:35px; display:block; text-align:center; line-height:35px;float:left;" class="btn btn-info" href="javascript:history.back(-1);">返回</a>
                    </div>
                </div>      
            </div> 
        </div>
    </body>

</html>
