<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>顺丰打印单</title>
	<link rel="icon" href="">
	<link rel="stylesheet" href="__PUBLIC__/express/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/express/css/style.css">
</head>
<body>
	<div class="page">
		<div class="m1 b">
			<img src="__PUBLIC__/Console/images/img/logo.jpg" class="img1">
			<img src="__PUBLIC__/Console/images/img/tel.png" class="img2">
			<p><span class="s1">E</span><span class="s2">加急</span></p>
		</div>
		<div class="m2 b">
			<div class="left">
				<img src="__PUBLIC__/Console/images/img/code.jpg">
				<p>子单号<span>033 203 023 629</span></p>
				<p>母单号<span>444 004 772 115</span></p>
			</div>
			<div class="right">
				<div class="r1 b">
					<p>顺丰次日</p>
				</div>
				<div class="r2">
					<p class="p1">代收贷款</p>
					<p class="p2">卡号：8881688888</p>
					<p class="p3">¥3000.5</p>
				</div>
			</div>
		</div>
		<div class="m3 b">
			<div class="left">
				<p>目的地</p>
			</div>
			<div class="right">
				<p>{$data.d_number}</p>
			</div>
		</div>
		<div class="m4 b">
			<div class="left">
				<p>收件人</p>
			</div>
			<div class="right">
				<p>{$data.d_company} {$data.d_tel} {$data.d_company}</p>
				<p>{$d_address}</p>
			</div>
		</div>
		<div class="m5 b">
			<div class="left">
				<p>收件人</p>
			</div>
			<div class="right-1">
				<p>熊大 0731-12345678</p>
				<p>广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
			</div>
			<div class="right-2">
				<p class="p1">定时派送</p>
				<p class="p2">自寄 自取</p>
			</div>
		</div>
		<div class="m6 b cl">
			<div class="left">
				<div class="l1 b">
					<ul>
						<li>付款方式：转第三方付</li>
						<li>月结账号：00000000001</li>
						<li>第三方地区：010D</li>
						<li>实际重量：1.3KG</li>
					</ul>
					<ul>
						<li>计费重量：1.5KG</li>
						<li>生命价值：2000元</li>
						<li>保价费用：<b>10元</b></li>
						<li>定时派送：2016/3/31-1500-1600</li>
					</ul>
					<ul>
						<li>包装费用：<b>10元</b></li>
						<li>运费：<b>22元</b></li>
						<li>费用合计：<b>42元</b></li>
					</ul>
					<p>转寄协议客户</p>
				</div>
				<div class="l2">
					<div class="l2-a">
						<p>托寄物</p>
					</div>
					<div class="l2-b"></div>
					<div class="l2-c">
						<ul>
							<li>收件员：12345678</li>
							<li>收件日期：5月10日</li>
							<li>派件员：</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<p>签名：</p>
				<p class="p2">月<span>日</span></p>
			</div>
		</div>
		<div class="item b">
			<div class="m7 b cl">
				<div class="left">
					<img class="img1" src="__PUBLIC__/Console/images/img/logo.jpg">
					<img src="__PUBLIC__/Console/images/img/tel.png">
				</div>
				<div class="right">
					<img src="__PUBLIC__/Console/images/img/code.jpg">
					<p>子单号<span>033 203 023 629</span></p>
				</div>
			</div>
			<div class="m8 b">
				<div class="left">
					<p>寄件人</p>
				</div>
				<div class="right">
					<p>熊大 0731-12345678</p>
					<p>广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
				</div>
			</div>
			<div class="m8 b">
				<div class="left">
					<p>收件人</p>
				</div>
				<div class="right">
					<p>熊大 0731-12345678</p>
					<p>广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
				</div>
			</div>
			<div class="m10"></div>
		</div>
		<div class="item b">
			<div class="m7 b cl">
				<div class="left">
					<img class="img1" src="__PUBLIC__/Console/images/img/logo.jpg">
					<img src="__PUBLIC__/Console/images/img/tel.png">
				</div>
				<div class="right">
					<img src="__PUBLIC__/Console/images/img/code.jpg">
					<p>子单号<span>033 203 023 629</span></p>
				</div>
			</div>
			<div class="m8 b">
				<div class="left">
					<p>寄件人</p>
				</div>
				<div class="right">
					<p>熊大 0731-12345678</p>
					<p>广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
				</div>
			</div>
			<div class="m8 b">
				<div class="left">
					<p>收件人</p>
				</div>
				<div class="right">
					<p>熊大 0731-12345678</p>
					<p>广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
				</div>
			</div>
			<div class="m10"></div>
		</div>
	</div>
</body>
</html>