<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Console/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>通讯录</div>    
    <dl class="leftmenu">    
    <dd><div class="title"><span><img src="__PUBLIC__/Console/images/ico_031.png" /></span>订单管理</div>
        <ul class="menuson">
            <li><cite></cite><a href="../Order/Plist.html" target="rightFrame">订单列表</a><i></i></li>
             <li><cite></cite><a href="../Order/Plist.html" target="rightFrame">审核列表</a><i></i></li>
            <li><cite></cite><a href="../Order/catlist.html" target="rightFrame">添加订单</a><i></i></li>
<!--         <li><cite></cite><a href="../Order/add.html" target="rightFrame">购物车</a><i></i></li> -->
        </ul>
    </dd> 

    <dd><div class="title"><span><img src="__PUBLIC__/Console/images/ico_032.png" /></span>发货</div>
        <ul class="menuson">
            <li><cite></cite><a href="../Shipments/Plist.html" target="rightFrame">待发货的订单</a><i></i></li>
            <li><cite></cite><a href="../Shipments/ylist.html" target="rightFrame">已发货订单</a><i></i></li>
<!--         <li><cite></cite><a href="../Order/add.html" target="rightFrame">购物车</a><i></i></li> -->
        </ul>
    </dd> 

    <dd><div class="title"><span><img src="__PUBLIC__/Console/images/ico_033.png" /></span>产品管理</div>
        <ul class="menuson">
            <li><cite></cite><a href="../Product/Plist.html" target="rightFrame">产品列表</a><i></i></li>
            <li><cite></cite><a href="../Product/add.html" target="rightFrame">发布产品</a><i></i></li>
        </ul>    
    </dd>        
    
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/Console/images/ico_034.png" /></span>设备管理
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="../Equipment/Equipment.html" target="rightFrame">设备列表</a><i></i></li>
        <li><cite></cite><a href="../Equipment/add.html" target="rightFrame">发布设备信息</a><i></i></li>
        <li><cite></cite><a href="../Wecate/Wecate.html" target="rightFrame">粉丝微信号</a><i></i></li>
        </ul>     
    </dd> 
 

    
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/Console/images/ico_035.png" /></span>管理员
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="../Personnel/passadd.html" target="rightFrame">修改密码</a><i></i></li>
        <li><cite></cite><a href="../Group/rolelist.html" target="rightFrame">组管理</a><i></i></li>
        <li><cite></cite><a href="../Personnel/PerList" target="rightFrame">管理员管理</a><i></i></li>
        </ul>     
    </dd> 
    <dd>
        <div class="title">
                <a target="rightFrame" href="{:U('Staff/Staff')}"><span><img src="__PUBLIC__/Console/images/ico_036.png" /></span>员工管理</a>
        </div>
    </dd>
    
    <dd>
        <div class="title">
                <span><img src="__PUBLIC__/Console/images/ico_037.png" /></span>组织结构
        </div>
        <ul class="menuson">
                <li><cite></cite><a href="../Category/PList" target="rightFrame">分类管理</a><i></i></li>
                <li class="  active"><cite></cite><a target="rightFrame" href="../Staff/Staff">员工管理</a><i></i></li>
                <li><cite></cite><a target="rightFrame" href="../Staff/deparlist">部门管理</a><i></i></li>                
                <li><cite></cite><a target="rightFrame" href="../Access/node">节点管理</a><i></i></li>
        </ul>     
    </dd> 
    <dd>
        <div class="title">
                <span><img src="__PUBLIC__/Console/images/ico_038.png" /></span>考勤管理
        </div>
        <ul class="menuson">
            <li><cite></cite><a target="rightFrame" href="../CheckRecord/index">考勤记录</a><i></i></li> 
			<li><cite></cite><a target="rightFrame" href="../Check/index">考勤统计</a><i></i></li> 
			
        </ul>     
    </dd> 
    <dd>
        <div class="title">
                <span><img src="__PUBLIC__/Console/images/ico_039.png" /></span>财务管理
        </div>
        <ul class="menuson">
                <li><cite></cite><a href="../Income/PList" target="rightFrame">进账单</a><i></i></li>
                <li class="  active"><cite></cite><a target="rightFrame" href="../Salary/index">当月工薪</a><i></i></li>
                <li><cite></cite><a target="rightFrame" href="../Asset/index">资产管理</a><i></i></li>
        </ul>    

    </dd>
	<dd>
        <div class="title">
                <span><img src="__PUBLIC__/Console/images/ico_0310.png" /></span>报表管理
        </div>
        <ul class="menuson">
                <li><cite></cite><a href="../Performance/Staff" target="rightFrame">员工业绩</a><i></i></li>
                <li class="  active"><cite></cite><a target="rightFrame" href="../Performance/Department">部门业绩</a><i></i></li>
                <li><cite></cite><a target="rightFrame" href="../Performance/MonthPer">月份报表</a><i></i></li>                
                <li><cite></cite><a target="rightFrame" href="../Performance/YearPer">年份报表</a><i></i></li>  
        </ul>    

    </dd>
    </dl>
    
</body>
</html>
