	
	<div id="tab2" class="tabson">
    
    
		<ul class="seachform">
			<form name="form2" id="form2" method='post' action="__URL__/roleList">
				<li><label>组名</label><input name="rolename" type="text" class="scinput" /></li>
				</li>
				<li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/>
				</li>
			</form>
		</ul>
    
    
		<table class="tablelist">
			<thead>
			<tr>
			<th><input name="" type="checkbox" value="" checked="checked"/></th>
			<th>编号<i class="sort"><img src="__PUBLIC__/Console/images/px.gif" /></i></th>
			<th>组名称</th>
			<th>发布时间</th>
			<th>是否审核</th>
			<th>操作</th>
			</tr>
			</thead>
			<tbody>
		<volist name="list" id="vo">
			<tr>
			<td><input name="" type="checkbox" value="" /></td>
			<td>{$vo.id}</td>
			<td>{$vo.rolename}</td>
			<td>{$vo.addtime|date='Y-m-d',###}</td>
			<td><if condition="$vo.status eq 1"> 已审核 <else /> 未审核</if></td>
			<td><if condition="$vo.status eq 1"> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <else /><a href="javascript:;" onclick="check({$vo.id});" class="tablelink">审核</a></if> <a href="__URL__/roleupdate/id/{$vo.id}" class="tablelink">修改</a><!--<a href="__URL__/delete/id/{$vo.id}" class="tablelink"> 删除</a>--></td>
			</tr> 
		</volist>
		   
		
			</tbody>
		</table>
    
	<script>
	
		function check(id){
			if(!id){
				alert('此信息不存在');
			}
			$.post('__URL__/editstatus',{id:id},function(data){
				var data= eval('('+data+')');
				alert(data.msg);
				if(data.result  == 1){
					window.location.href='__URL__/rolelist#tab2';
				}
			})
		}
		
	</script>
    
    </div>  