<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">设备管理</a></li>
            <li><a href="#">设备列表</a></li>
            <li><a href="#">微信号</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li><a href="__URL__/add"><span><img src="__PUBLIC__/Console/images/t01.png" /></span>添加</a></li>
                <!--
                        <li><span><img src="__PUBLIC__/Console/images/t03.png" /></span>删除</li>
                        <li><span><img src="__PUBLIC__/Console/images/t04.png" /></span>统计</li> -->

            </ul>
            <ul class="toolbar1">
                <!-- <li><span><img src="__PUBLIC__/Console/images/t05.png" /></span>设置</li> -->
            </ul>
            <ul class="seachform">
                <form action="/index.php/Console/Equipment/Equipment" method="post" id="form2" name="form2">            
                    <li><label>搜索</label><input type="text" class="scinpute" name="username" value="" title="请输入序列号/型号/编号/代言人/设备号码/微信号/负责人/使用人"placeholder="综合搜索" style="width:220px"></li>
                    <li>
						<label>设备地址</label>
						<select name="addr_id" type='text' class="sciselect">                           
							<option value="0">请选择</option>
							<option value="1" <if condition="$param.addr_id eq 1">selected="selected"</if>>广东省</option>
							<option value="2" <if condition="$param.addr_id eq 2">selected="selected"</if>>山东省</option>
						</select>
					</li>
                    <li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" name=""></li>
                    <li class="click"><label>统计手机共{$count}部</label></li>
                </form>
            </ul>
        </div>
    
    
    
		<table class="imgtable">
			<thead>
				<tr>
                                    <th><input name="" type="checkbox" value="" checked="checked"/></th>
                                    <th>ID<i class="sort"><img src="__PUBLIC__/Console/images/px.gif" /></i></th>
                                     <th>负责人</th>
                                    <th>手机信息</th>
<!--                                    <th>代言人</th>-->
                                <!--     <th>设备地址</th> -->
                                    <th>开机密码</th>
                                <!--     <th>微信</th> -->
                                    <!-- <th>通讯信息</th> -->
                                   
                                    <th>部门与岗位</th>
                                    <th>设备状态</th>
                                    <th>用途</th>
                                    <th>添加日期</th>
                                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
                                    <tr  style="border-bottom: dotted 1px #c7c7c7; ">
					<td><input name="" type="checkbox" value="" /></td>
					<td>{$vo.id}</td>
                    <td>组别：<b style="color:#d15b47;">{$staff[$vo["fuzerenid"]]}</b><!-- {$vo.fuzeren} --></td>
      				<td>
                        <p style="color:#004974;">序列号：{$vo.cdkey}</p>
                        <p style="color:#006dcc;"><!-- 手机号码： -->{$vo.mobile}</p>
                                 <!--            <p>型号：{$vo.xinghao}</p>
                                            <p>编号：{$vo.bianhao}</p> -->
                    </td>                                                  
<!--					<td>{$vo.daiyanren}</td>-->
		<!-- 			<td>
                                            <if condition="$vo.addr_id eq 1">
                                            广东省
                                            <elseif condition="$vo.addr_id eq 2"/>
                                            山东省
                                            </if>
					</td> -->
					<td>{$vo.kaijipassword}</td>
      				<!-- 	<td>
                                            <p style="color:#009ceb;">微信：{$vo.weixinhao}</p>
                                            <p style="color:#404040;">绑定邮箱：{$vo.yxemail}</p>      
                                        </td> 
                                        <td>
                                            <p style="color:#404040;">淘宝：{$vo.taobaohao}</p>                            
                                            <p>QQ：{$vo.qqhao}</p> 
                                            <p  style="color:#404040;">微博：{$vo.weibohao}</p>
                                        </td>    -->                                     
                                        
					
                                        
					<td>
                        <p>使用人：<a href="{:U('Equipment/staffequipment',array('id'=>$vo['staffid']))}"  style="color:#009ceb;">{$staff[$vo["staffid"]]}</a></p>
                        <p>部门：{$vo.departmenttext}</p>
                        <p style="color:#404040;">岗位：{$vo.posttext}</p>
                    </td>

					<td>{$vo.stauts|getstautel=###}</td>
					<td>{$vo.roleeffect|getorderget=###}</td>
					<td>{$vo.addtime|date='Y-m-d',###}</td>
					<td>
						<p><a href="{:U('Equipment/tracking',array('id'=>$vo['id']))}" class="tablelink" >登记</a></p>
                                                <p><a href="__URL__/edit/id/{$vo.id}" class="tablelink" >修改</a></p>
                                                <p><a href="__URL__/delete/id/{$vo.id}" class="tablelink" onclick="return confirm('是否确认删除？');"> 删除</a></p>
					</td>
				</tr> 
			</volist>
			</tbody>
		</table>
　　	{$page}
    </div>

    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
