<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>员工业绩图</title>
    <link href="__PUBLIC__/Console/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Console/css/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Console/js/jquery.js"></script>
    <script src="__PUBLIC__/Console/js/Chart.js-master/dist/Chart.bundle.js"></script>

    <style>
    #canvas-holder {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    #chartjs-tooltip {
      opacity: 1;
      position: absolute;
      background: rgba(0, 0, 0, .7);
      color: white;
      border-radius: 3px;
      -webkit-transition: all .1s ease;
      transition: all .1s ease;
      pointer-events: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

    .chartjs-tooltip-key {
      display: inline-block;
      width: 10px;
      height: 10px;
    }
    </style>


</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">部门业绩</a></li>
        </ul>
    </div>

    <div id="canvas-holder" style="width: 50px;">
        <canvas id="chart-area1" width="50" height="50" />
    </div>
    <div id="canvas-holder" style="width: 300px;">
        <canvas id="chart-area2" width="300" height="300" />
    </div>

    <div id="chartjs-tooltip"></div>

   <script type="text/javascript">
 //加载饼状图和柱状图
 var bra_data="bra.json"; 
 var data_basic=[],type_basic=[],data_color=[],type_color=[],data_size=[],type_size=[];
$.getJSON(bra_data, function(data){
 //颜色
$.each(data.color,function(key,word){
  if(key!="whole" ){
  data_color.push({"value":word,"name":key});
  type_color.push(key);
  }
});
  //尺寸
$.each(data.basic,function(key,word){
 if(key!="whole"){
  data_basic.push({"value":word,"name":key+"杯"});
  type_basic.push(key+"杯");
 }
});
//百分比
$.each(data.detail,function(key,word){
  var whole=data.detail.whole;
  if(key!="whole"&&word>=1000 ){
  data_size.push((100*word/whole).toFixed(3));
  type_size.push(key);
  }
});

 
        // 基于准备好的dom，初始化echarts实例
        var myChart_color = echarts.init(document.getElementById('color'));
        var myChart_basic = echarts.init(document.getElementById('basic'));
        var myChart_details = echarts.init(document.getElementById('details'));

        // 指定图表的配置项和数据
option_color = {

    title : {
        text: '淘宝网用户购买文胸颜色饼状图',
        subtext: '仅具参考意义',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: type_color
    },
    series : [
        {
            name: '该颜色购买人数',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:data_color,
            color:['#EEB422','#BEBEBE','#FFA07A','#483D8B','#EE3B3B','#6B8E23','#5F9EA0','#FFC125','#696969'],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
 option_basic = {
    title : {
        text: '淘宝网用户购买文胸尺寸饼状图',
        subtext: '仅具参考意义',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: type_basic
    },
    series : [
        {
            name: '该尺寸购买人数',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:data_basic,
            color:['#EEB422','#BEBEBE','#FFA07A','#483D8B','#EE3B3B','#6B8E23','#5F9EA0','#FFC125','#696969'],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

option_details = {
    title : {
        text: '淘宝网用户购买文胸颜色饼状图',
        subtext: '仅具参考意义',
        x:'center'
    },
    tooltip : {
        trigger: 'axis'
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    legend: {
        orient: 'vertical',
        left: 'left',
        data:['各胸围尺寸所占的人数百分比']
    },
    xAxis : [
        {
            type : 'category',
            data : type_size
        }
    ],
    yAxis : [
        {
            type : 'value',
            name : '人数',
            min: 0,
            max: 20,
            interval:5,
            axisLabel : {
                formatter: '{value} %'
            }
        }
       
    ],
    series : [

        {
            name:'各胸围尺寸所占的人数百分比',
            type:'bar',
            data:data_size,
            color:'#191970'
        },
        
    ]
};
        // 使用刚指定的配置项和数据显示图。
        myChart_color.setOption(option_color);
        myChart_basic.setOption(option_basic);
        myChart_details.setOption(option_details);
});
//左右翻页显示
  basic_div=$("#basic");
  color_div=$("#color");
  details_div=$("#details");

$(".previous").click(function(){
	if (basic_div.is(":visible")){
		basic_div.css("display","none");
		color_div.css("display", "none");
		details_div.css("display","block");
	}
	else if (color_div.is(":visible")){
		color_div.css("display","none");
		basic_div.css("display", "block");
		details_div.css("display","none");
	}
	else if (details_div.is(":visible")){
		details_div.css("display","none");
		color_div.css("display", "block");
		basic_div.css("display","none");
	}
});
$(".next").click(function(){
if (basic_div.is(":visible")){
		basic_div.css("display","none");
		color_div.css("display", "block");
		details_div.css("display","none");
	}
	else if (color_div.is(":visible")){
		color_div.css("display","none");
		basic_div.css("display", "none");
		details_div.css("display","block");
	}
	else if (details_div.is(":visible")){
		details_div.css("display","none");
		color_div.css("display", "none");
		basic_div.css("display","block");
	}
});
    </script>

</body>

</html>
